<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>EnLeftHook-cy</key>
    <string>E_nL_eftH_ook-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Enhook-cy</key>
    <string>E_nhook-cy.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Shcha-cy</key>
    <string>S_hcha-cy.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.sc</key>
    <string>b.sc.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cheabkhasian-cy.sc</key>
    <string>cheabkhasian-cy.sc.glif</string>
    <key>d.sc</key>
    <string>d.sc.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>e.sc</key>
    <string>e.sc.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>enlefthook-cy.sc</key>
    <string>enlefthook-cy.sc.glif</string>
    <key>fita-cy.sc</key>
    <string>fita-cy.sc.glif</string>
    <key>ghestroke-cy.loclBSH</key>
    <string>ghestroke-cy.loclB_S_H_.glif</string>
    <key>gheupturn-cy.sc</key>
    <string>gheupturn-cy.sc.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ii-cy</key>
    <string>ii-cy.glif</string>
    <key>ii-cy.sc</key>
    <string>ii-cy.sc.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.sc</key>
    <string>k.sc.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>obarred-cy</key>
    <string>obarred-cy.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q.sc</key>
    <string>q.sc.glif</string>
    <key>sha-cy.loclBGR</key>
    <string>sha-cy.loclB_G_R_.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uhorn.sc</key>
    <string>uhorn.sc.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
