<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>2014</integer>
	<key>capHeight</key>
	<integer>1522</integer>
	<key>copyright</key>
	<string>Copyright (c) 2010-2013, Sorkin Type Co (www.sorkintype.com) with Reserved Font Name 'Merriweather'</string>
	<key>descender</key>
	<integer>-560</integer>
	<key>familyName</key>
	<string>Merriweather</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>macintoshFONDName</key>
	<string>Merriweather</string>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeHheaAscender</key>
	<integer>4125</integer>
	<key>openTypeHheaDescender</key>
	<integer>-1147</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDescription</key>
	<string>Merriweather offers a Renissance warmth while using proportions which are space-saving. It is suitable for¬†editorial design, news and other kinds of space sensitive typography.</string>
	<key>openTypeNameDesigner</key>
	<string>Eben Sorkin ( eben@eyebytes.com )</string>
	<key>openTypeNameDesignerURL</key>
	<string>sorkintype.com</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Eben Sorkin ( eben@eyebytes.com )</string>
	<key>openTypeNameManufacturerURL</key>
	<string>sorkintype.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Merriweather</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Bold</string>
	<key>openTypeNameUniqueID</key>
	<string>EbenSorkin(eben@eyebytes.com): Merriweather Bold: 2013</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.52</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>7</integer>
		<integer>29</integer>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>1372</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>197</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>1434</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>287</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>1331</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>1434</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>977</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>1331</integer>
	<key>openTypeOS2Type</key>
	<array>
		<integer>2</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>4125</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-1147</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>7</integer>
		<integer>9</integer>
		<integer>29</integer>
		<integer>31</integer>
		<integer>32</integer>
		<integer>33</integer>
		<integer>35</integer>
		<integer>36</integer>
		<integer>37</integer>
		<integer>38</integer>
		<integer>45</integer>
		<integer>60</integer>
		<integer>62</integer>
		<integer>69</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>STC</string>
	<key>openTypeOS2WeightClass</key>
	<integer>700</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>4125</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>2349</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-23</integer>
		<integer>0</integer>
		<integer>1131</integer>
		<integer>1172</integer>
		<integer>1522</integer>
		<integer>1543</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>500</integer>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Merriweather-Bold</string>
	<key>postscriptForceBold</key>
	<true/>
	<key>postscriptFullName</key>
	<string>Merriweather Bold</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-552</integer>
		<integer>-494</integer>
		<integer>1279</integer>
		<integer>1300</integer>
		<integer>1643</integer>
		<integer>1723</integer>
	</array>
	<key>postscriptSlantAngle</key>
	<real>-0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>134</integer>
		<integer>165</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>316</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-170</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>96</integer>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>postscriptWeightName</key>
	<string>Bold</string>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapFamilyName</key>
	<string>Merriweather</string>
	<key>styleMapStyleName</key>
	<string>bold</string>
	<key>styleName</key>
	<string>Bold</string>
	<key>trademark</key>
	<string>Merriweather is a trademark of Sorkin Type Co.</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>51</integer>
	<key>xHeight</key>
	<integer>1135</integer>
	<key>year</key>
	<integer>2013</integer>
</dict>
</plist>
