<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Be-cy</key>
    <string>B_e-cy.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>De-cy</key>
    <string>D_e-cy.glif</string>
    <key>Dzhe-cy</key>
    <string>D_zhe-cy.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>El-cy</key>
    <string>E_l-cy.glif</string>
    <key>EnLeftHook-cy</key>
    <string>E_nL_eftH_ook-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Enhook-cy</key>
    <string>E_nhook-cy.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Ezh</key>
    <string>E_zh.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Ia-cy</key>
    <string>I_a-cy.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Ka-cy</key>
    <string>K_a-cy.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Ohm</key>
    <string>O_hm.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Softsign-cy</key>
    <string>S_oftsign-cy.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Zhe-cy</key>
    <string>Z_he-cy.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.sc</key>
    <string>a.sc.glif</string>
    <key>accountof</key>
    <string>accountof.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>addressedtothesubject</key>
    <string>addressedtothesubject.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.sc</key>
    <string>b.sc.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>be-cy.sc</key>
    <string>be-cy.sc.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>careof</key>
    <string>careof.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cheabkhasian-cy.sc</key>
    <string>cheabkhasian-cy.sc.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.sc</key>
    <string>d.sc.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dram-arm</key>
    <string>dram-arm.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.sc</key>
    <string>e.sc.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>enhook-cy</key>
    <string>enhook-cy.glif</string>
    <key>enlefthook-cy.sc</key>
    <string>enlefthook-cy.sc.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>ezh</key>
    <string>ezh.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.sc</key>
    <string>f.sc.glif</string>
    <key>fita-cy.sc</key>
    <string>fita-cy.sc.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>ge-cy.sc</key>
    <string>ge-cy.sc.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>ghestroke-cy.loclBSH</key>
    <string>ghestroke-cy.loclB_S_H_.glif</string>
    <key>gheupturn-cy.sc</key>
    <string>gheupturn-cy.sc.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.sc</key>
    <string>h.sc.glif</string>
    <key>hardsign-cy</key>
    <string>hardsign-cy.glif</string>
    <key>i.sc</key>
    <string>i.sc.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ii-cy.sc</key>
    <string>ii-cy.sc.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>ka-cy.sc</key>
    <string>ka-cy.sc.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.sc</key>
    <string>m.sc.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.sc</key>
    <string>n.sc.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.sc</key>
    <string>o.sc.glif</string>
    <key>obarred-cy</key>
    <string>obarred-cy.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.sc</key>
    <string>p.sc.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.sc</key>
    <string>q.sc.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>rupeeIndian</key>
    <string>rupeeI_ndian.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.sc</key>
    <string>s.sc.glif</string>
    <key>schwa.sc</key>
    <string>schwa.sc.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.sc</key>
    <string>t.sc.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>thorn.sc</key>
    <string>thorn.sc.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>u.sc</key>
    <string>u.sc.glif</string>
    <key>uhorn.sc</key>
    <string>uhorn.sc.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zhe-cy</key>
    <string>zhe-cy.glif</string>
  </dict>
</plist>
