venv/
.DS_Store
*(Autosaved)*
TTF/Merriweather-Bold.ttf

TTF/Merriweather-Regular.ttf

UFO/Merriweather-Bold.ufo/fontinfo.plist

UFO/Merriweather-Regular.ufo/fontinfo.plist

UFO/Merriweather-Light.ufo/fontinfo.plist

UFO/Merriweather-UltraBold.ufo/fontinfo.plist
