<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1966</integer>
	<key>capHeight</key>
	<integer>1486</integer>
	<key>descender</key>
	<integer>-546</integer>
	<key>familyName</key>
	<string>Stretch</string>
	<key>italicAngle</key>
	<real>-7.8</real>
	<key>openTypeHeadCreated</key>
	<string>2019/08/20 12:35:21</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Stretch</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>vv(-13.9-6.3)-(88.7-100.0)-0.0-1.0-(0.0-0.0)</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Stretch-vv-13.9-6.3-88.7-100.0-0.0-1.0-0.0-0.0</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>styleMapFamilyName</key>
	<string>Stretch vv(-13.9-6.3)-(88.7-100.0)-0.0-1.0-(0.0-0.0)</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>vv(-13.9-6.3)-(88.7-100.0)-0.0-1.0-(0.0-0.0)</string>
	<key>unitsPerEm</key>
	<integer>2000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>1110</integer>
</dict>
</plist>
