<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1966</integer>
    <key>capHeight</key>
    <integer>1486</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Merriweather Project Authors (https://github.com/EbenSorkin/Merriweather), with Reserved Font Name "Merriweather".</string>
    <key>descender</key>
    <integer>-546</integer>
    <key>familyName</key>
    <string>Merriweather</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2020/03/25 02:57:04</string>
    <key>openTypeHheaAscender</key>
    <integer>1968</integer>
    <key>openTypeHheaDescender</key>
    <integer>-546</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Eben Sorkin</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://sorkintype.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Eben Sorkin</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://sorkintype.com</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Merriweather</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Light Display Wide</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>400</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>90</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1968</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-546</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>STC</string>
    <key>openTypeOS2WeightClass</key>
    <integer>300</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>7</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2456</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>604</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-26</integer>
      <integer>0</integer>
      <integer>1005</integer>
      <integer>1045</integer>
      <integer>1292</integer>
      <integer>1324</integer>
      <integer>1486</integer>
      <integer>1516</integer>
      <integer>1540</integer>
      <integer>1588</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>56</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>112</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-244</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>90</integer>
    <key>styleMapFamilyName</key>
    <string>Merriweather Display Light Wide</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Display Light Wide</string>
    <key>trademark</key>
    <string>Merriweather is a trademark of Sorkin Type Co.</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>9</integer>
    <key>xHeight</key>
    <integer>1005</integer>
  </dict>
</plist>
