<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>EnLeftHook-cy</key>
    <string>E_nL_eftH_ook-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Enhook-cy</key>
    <string>E_nhook-cy.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>cheabkhasian-cy.sc</key>
    <string>cheabkhasian-cy.sc.glif</string>
    <key>d.sc</key>
    <string>d.sc.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>dotaccentcomb.case</key>
    <string>dotaccentcomb.case.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>enlefthook-cy.sc</key>
    <string>enlefthook-cy.sc.glif</string>
    <key>fita-cy.sc</key>
    <string>fita-cy.sc.glif</string>
    <key>gedescender-cy</key>
    <string>gedescender-cy.glif</string>
    <key>gheupturn-cy.sc</key>
    <string>gheupturn-cy.sc.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ii-cy.sc</key>
    <string>ii-cy.sc.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>obarred-cy</key>
    <string>obarred-cy.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>q.sc</key>
    <string>q.sc.glif</string>
    <key>s.sc</key>
    <string>s.sc.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>uhorn.sc</key>
    <string>uhorn.sc.glif</string>
    <key>v.sc</key>
    <string>v.sc.glif</string>
  </dict>
</plist>
