<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1966</integer>
    <key>capHeight</key>
    <integer>1486</integer>
    <key>copyright</key>
    <string>Copyright 2016 The Merriweather Project Authors (https://github.com/EbenSorkin/Merriweather) with Reserved Font Name "Merriweather".</string>
    <key>descender</key>
    <integer>-546</integer>
    <key>familyName</key>
    <string>Merriweather</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>x</key>
        <integer>-132</integer>
        <key>y</key>
        <integer>564</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>x</key>
        <integer>1</integer>
        <key>y</key>
        <integer>668</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>1</integer>
        <key>y</key>
        <integer>764</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>1</integer>
        <key>y</key>
        <integer>1626</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>-7.8</real>
    <key>openTypeHeadCreated</key>
    <string>2019/05/28 16:39:42</string>
    <key>openTypeHheaAscender</key>
    <integer>1968</integer>
    <key>openTypeHheaDescender</key>
    <integer>-546</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Eben Sorkin</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://sorkintype.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Eben Sorkin</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://sorkintype.com</string>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>596</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>60</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1968</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-546</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>STC</string>
    <key>openTypeOS2WeightClass</key>
    <integer>900</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>7</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2456</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>604</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-28</integer>
      <integer>0</integer>
      <integer>1005</integer>
      <integer>1041</integer>
      <integer>1292</integer>
      <integer>1312</integer>
      <integer>1486</integer>
      <integer>1506</integer>
      <integer>1540</integer>
      <integer>1588</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-244</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>110</integer>
    <key>styleMapFamilyName</key>
    <string>Merriweather Black Display Wide</string>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>styleName</key>
    <string>Black Display Wide Italic</string>
    <key>trademark</key>
    <string>Merriweather is a trademark of Sorkin Type Co.</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>6</integer>
    <key>xHeight</key>
    <integer>1005</integer>
  </dict>
</plist>
