<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Oct 13 16, 15:31</string>
      <string>glyphs.O_ct 13 16, 15_31</string>
    </array>
    <array>
      <string>Oct 13 16, 16:03</string>
      <string>glyphs.O_ct 13 16, 16_03</string>
    </array>
    <array>
      <string>Sep 8 16, 17:30</string>
      <string>glyphs.S_ep 8 16, 17_30</string>
    </array>
    <array>
      <string>Sep 8 16, 17:30.background</string>
      <string>glyphs.S_ep 8 16, 17_30.background</string>
    </array>
    <array>
      <string>Nov 1 19, 19:40</string>
      <string>glyphs.N_ov 1 19, 19_40</string>
    </array>
    <array>
      <string>Nov 1 19, 20:03</string>
      <string>glyphs.N_ov 1 19, 20_03</string>
    </array>
  </array>
</plist>
