<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>De-cy.loclBGR</key>
    <string>D_e-cy.loclB_G_R_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Ef-cy.loclBGR</key>
    <string>E_f-cy.loclB_G_R_.glif</string>
    <key>Elhook-cy</key>
    <string>E_lhook-cy.glif</string>
    <key>EnLeftHook-cy</key>
    <string>E_nL_eftH_ook-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ezh</key>
    <string>E_zh.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>Fita-cy</key>
    <string>F_ita-cy.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Gstroke</key>
    <string>G_stroke.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Hadescender-cy</key>
    <string>H_adescender-cy.glif</string>
    <key>Hahook-cy</key>
    <string>H_ahook-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>Kaverticalstroke-cy</key>
    <string>K_averticalstroke-cy.glif</string>
    <key>Komide-cy</key>
    <string>K_omide-cy.glif</string>
    <key>Komidje-cy</key>
    <string>K_omidje-cy.glif</string>
    <key>Komilje-cy</key>
    <string>K_omilje-cy.glif</string>
    <key>Kominje-cy</key>
    <string>K_ominje-cy.glif</string>
    <key>Komisje-cy</key>
    <string>K_omisje-cy.glif</string>
    <key>Komitje-cy</key>
    <string>K_omitje-cy.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Obarred-cy</key>
    <string>O_barred-cy.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Sha-cy</key>
    <string>S_ha-cy.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tetse-cy</key>
    <string>T_etse-cy.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Tse-cy</key>
    <string>T_se-cy.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yat-cy</key>
    <string>Y_at-cy.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a.sc</key>
    <string>a.sc.glif</string>
    <key>accountof</key>
    <string>accountof.glif</string>
    <key>addressedtothesubject</key>
    <string>addressedtothesubject.glif</string>
    <key>ae.sc</key>
    <string>ae.sc.glif</string>
    <key>b.sc</key>
    <string>b.sc.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>c.sc</key>
    <string>c.sc.glif</string>
    <key>cheabkhasian-cy</key>
    <string>cheabkhasian-cy.glif</string>
    <key>d.sc</key>
    <string>d.sc.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>de-cy</key>
    <string>de-cy.glif</string>
    <key>de-cy.loclBGR.sc</key>
    <string>de-cy.loclB_G_R_.sc.glif</string>
    <key>dje-cy</key>
    <string>dje-cy.glif</string>
    <key>dzhe-cy.sc</key>
    <string>dzhe-cy.sc.glif</string>
    <key>e-cy</key>
    <string>e-cy.glif</string>
    <key>e.sc</key>
    <string>e.sc.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.tf</key>
    <string>eight.tf.glif</string>
    <key>el-cy.loclBGR.sc</key>
    <string>el-cy.loclB_G_R_.sc.glif</string>
    <key>el-cy.sc</key>
    <string>el-cy.sc.glif</string>
    <key>elhook-cy</key>
    <string>elhook-cy.glif</string>
    <key>elhook-cy.sc</key>
    <string>elhook-cy.sc.glif</string>
    <key>eltail-cy.sc</key>
    <string>eltail-cy.sc.glif</string>
    <key>em-cy</key>
    <string>em-cy.glif</string>
    <key>emtail-cy</key>
    <string>emtail-cy.glif</string>
    <key>en-cy</key>
    <string>en-cy.glif</string>
    <key>eng.sc</key>
    <string>eng.sc.glif</string>
    <key>enghe-cy.sc</key>
    <string>enghe-cy.sc.glif</string>
    <key>enhook-cy</key>
    <string>enhook-cy.glif</string>
    <key>enhook-cy.sc</key>
    <string>enhook-cy.sc.glif</string>
    <key>enlefthook-cy</key>
    <string>enlefthook-cy.glif</string>
    <key>enlefthook-cy.sc</key>
    <string>enlefthook-cy.sc.glif</string>
    <key>entail-cy</key>
    <string>entail-cy.glif</string>
    <key>entail-cy.sc</key>
    <string>entail-cy.sc.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>er-cy.sc</key>
    <string>er-cy.sc.glif</string>
    <key>ereversed-cy</key>
    <string>ereversed-cy.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>ezh</key>
    <string>ezh.glif</string>
    <key>ezh.sc</key>
    <string>ezh.sc.glif</string>
    <key>f.sc</key>
    <string>f.sc.glif</string>
    <key>fita-cy</key>
    <string>fita-cy.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.sc</key>
    <string>five.sc.glif</string>
    <key>five.tf</key>
    <string>five.tf.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.tf</key>
    <string>four.tf.glif</string>
    <key>g.sc</key>
    <string>g.sc.glif</string>
    <key>ge-cy.sc</key>
    <string>ge-cy.sc.glif</string>
    <key>gedescender-cy</key>
    <string>gedescender-cy.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>germandbls.sc</key>
    <string>germandbls.sc.glif</string>
    <key>gestrokehook-cy.sc</key>
    <string>gestrokehook-cy.sc.glif</string>
    <key>ghemiddlehook-cy</key>
    <string>ghemiddlehook-cy.glif</string>
    <key>ghestroke-cy.loclBSH</key>
    <string>ghestroke-cy.loclB_S_H_.glif</string>
    <key>gheupturn-cy.sc</key>
    <string>gheupturn-cy.sc.glif</string>
    <key>gstroke.sc</key>
    <string>gstroke.sc.glif</string>
    <key>hahook-cy</key>
    <string>hahook-cy.glif</string>
    <key>hahook-cy.sc</key>
    <string>hahook-cy.sc.glif</string>
    <key>hbar.sc</key>
    <string>hbar.sc.glif</string>
    <key>i.sc</key>
    <string>i.sc.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>ie-cy.sc</key>
    <string>ie-cy.sc.glif</string>
    <key>iu-cy</key>
    <string>iu-cy.glif</string>
    <key>iu-cy.loclBGR</key>
    <string>iu-cy.loclB_G_R_.glif</string>
    <key>iu-cy.sc</key>
    <string>iu-cy.sc.glif</string>
    <key>j.sc</key>
    <string>j.sc.glif</string>
    <key>k.sc</key>
    <string>k.sc.glif</string>
    <key>ka-cy</key>
    <string>ka-cy.glif</string>
    <key>kabashkir-cy.sc</key>
    <string>kabashkir-cy.sc.glif</string>
    <key>kadescender-cy.sc</key>
    <string>kadescender-cy.sc.glif</string>
    <key>kahook-cy</key>
    <string>kahook-cy.glif</string>
    <key>kahook-cy.sc</key>
    <string>kahook-cy.sc.glif</string>
    <key>kastroke-cy.sc</key>
    <string>kastroke-cy.sc.glif</string>
    <key>kaverticalstroke-cy</key>
    <string>kaverticalstroke-cy.glif</string>
    <key>kaverticalstroke-cy.sc</key>
    <string>kaverticalstroke-cy.sc.glif</string>
    <key>komide-cy.sc</key>
    <string>komide-cy.sc.glif</string>
    <key>komidje-cy</key>
    <string>komidje-cy.glif</string>
    <key>komidje-cy.sc</key>
    <string>komidje-cy.sc.glif</string>
    <key>komidzje-cy</key>
    <string>komidzje-cy.glif</string>
    <key>komidzje-cy.sc</key>
    <string>komidzje-cy.sc.glif</string>
    <key>komilje-cy</key>
    <string>komilje-cy.glif</string>
    <key>komilje-cy.sc</key>
    <string>komilje-cy.sc.glif</string>
    <key>kominje-cy</key>
    <string>kominje-cy.glif</string>
    <key>kominje-cy.sc</key>
    <string>kominje-cy.sc.glif</string>
    <key>komisje-cy.sc</key>
    <string>komisje-cy.sc.glif</string>
    <key>komitje-cy</key>
    <string>komitje-cy.glif</string>
    <key>komitje-cy.sc</key>
    <string>komitje-cy.sc.glif</string>
    <key>komizje-cy</key>
    <string>komizje-cy.glif</string>
    <key>komizje-cy.sc</key>
    <string>komizje-cy.sc.glif</string>
    <key>l.sc</key>
    <string>l.sc.glif</string>
    <key>lje-cy</key>
    <string>lje-cy.glif</string>
    <key>lje-cy.sc</key>
    <string>lje-cy.sc.glif</string>
    <key>longbar_part.</key>
    <string>longbar_part..glif</string>
    <key>lslash.sc</key>
    <string>lslash.sc.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n.sc</key>
    <string>n.sc.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.tf</key>
    <string>nine.tf.glif</string>
    <key>nje-cy.sc</key>
    <string>nje-cy.sc.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>notequal.case</key>
    <string>notequal.case.glif</string>
    <key>o.sc</key>
    <string>o.sc.glif</string>
    <key>oe.sc</key>
    <string>oe.sc.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.osf</key>
    <string>one.osf.glif</string>
    <key>one.tosf</key>
    <string>one.tosf.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslash.sc</key>
    <string>oslash.sc.glif</string>
    <key>p.sc</key>
    <string>p.sc.glif</string>
    <key>parenleft.sc</key>
    <string>parenleft.sc.glif</string>
    <key>pemiddlehook-cy</key>
    <string>pemiddlehook-cy.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>pi.sc</key>
    <string>pi.sc.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>q.sc</key>
    <string>q.sc.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question.ss01</key>
    <string>question.ss01.glif</string>
    <key>r.sc</key>
    <string>r.sc.glif</string>
    <key>s.sc</key>
    <string>s.sc.glif</string>
    <key>schwa.sc</key>
    <string>schwa.sc.glif</string>
    <key>semisoftsign-cy</key>
    <string>semisoftsign-cy.glif</string>
    <key>seven.tf</key>
    <string>seven.tf.glif</string>
    <key>sha-cy.loclBGR</key>
    <string>sha-cy.loclB_G_R_.glif</string>
    <key>sha-cy.sc</key>
    <string>sha-cy.sc.glif</string>
    <key>sheqel</key>
    <string>sheqel.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.tf</key>
    <string>six.tf.glif</string>
    <key>strokelongcomb</key>
    <string>strokelongcomb.glif</string>
    <key>strokeshortcomb</key>
    <string>strokeshortcomb.glif</string>
    <key>t.sc</key>
    <string>t.sc.glif</string>
    <key>tedescender-cy.sc</key>
    <string>tedescender-cy.sc.glif</string>
    <key>tetse-cy.sc</key>
    <string>tetse-cy.sc.glif</string>
    <key>thorn.sc</key>
    <string>thorn.sc.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>three.tf</key>
    <string>three.tf.glif</string>
    <key>tse-cy</key>
    <string>tse-cy.glif</string>
    <key>tse-cy.sc</key>
    <string>tse-cy.sc.glif</string>
    <key>tshe-cy.sc</key>
    <string>tshe-cy.sc.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.osf</key>
    <string>two.osf.glif</string>
    <key>two.sc</key>
    <string>two.sc.glif</string>
    <key>two.tf</key>
    <string>two.tf.glif</string>
    <key>u.sc</key>
    <string>u.sc.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>v.sc</key>
    <string>v.sc.glif</string>
    <key>ve-cy</key>
    <string>ve-cy.glif</string>
    <key>w.sc</key>
    <string>w.sc.glif</string>
    <key>x.sc</key>
    <string>x.sc.glif</string>
    <key>y.sc</key>
    <string>y.sc.glif</string>
    <key>yeru-cy</key>
    <string>yeru-cy.glif</string>
    <key>z.sc</key>
    <string>z.sc.glif</string>
    <key>zero.sc</key>
    <string>zero.sc.glif</string>
  </dict>
</plist>
