<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1966</integer>
	<key>capHeight</key>
	<integer>1486</integer>
	<key>descender</key>
	<integer>-546</integer>
	<key>familyName</key>
	<string>Stretch</string>
	<key>italicAngle</key>
	<real>-7.8</real>
	<key>styleName</key>
	<string>vv(-15.8-0.0)-(85.3-100.0)-0.0-1.3-(0.0-0.0)</string>
	<key>unitsPerEm</key>
	<integer>2000</integer>
	<key>xHeight</key>
	<integer>1110</integer>
</dict>
</plist>
