<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Komilje-cy</key>
    <string>K_omilje-cy.glif</string>
    <key>Kominje-cy</key>
    <string>K_ominje-cy.glif</string>
    <key>Komizje-cy</key>
    <string>K_omizje-cy.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>elhook-cy.sc</key>
    <string>elhook-cy.sc.glif</string>
    <key>five.tosf</key>
    <string>five.tosf.glif</string>
    <key>four.tosf</key>
    <string>four.tosf.glif</string>
    <key>gestrokehook-cy.sc</key>
    <string>gestrokehook-cy.sc.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>nine.tosf</key>
    <string>nine.tosf.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>sha-cy.loclBGR</key>
    <string>sha-cy.loclB_G_R_.glif</string>
    <key>sheqel</key>
    <string>sheqel.glif</string>
    <key>three.tosf</key>
    <string>three.tosf.glif</string>
    <key>two.tosf</key>
    <string>two.tosf.glif</string>
  </dict>
</plist>
