<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A.sc</key>
	<string>A_.sc.glif</string>
	<key>B.sc</key>
	<string>B_.sc.glif</string>
	<key>C.sc</key>
	<string>C_.sc.glif</string>
	<key>D.sc</key>
	<string>D_.sc.glif</string>
	<key>E.sc</key>
	<string>E_.sc.glif</string>
	<key>F.sc</key>
	<string>F_.sc.glif</string>
	<key>G.sc</key>
	<string>G_.sc.glif</string>
	<key>H.sc</key>
	<string>H_.sc.glif</string>
	<key>I.sc</key>
	<string>I_.sc.glif</string>
	<key>J.sc</key>
	<string>J_.sc.glif</string>
	<key>K.sc</key>
	<string>K_.sc.glif</string>
	<key>L.sc</key>
	<string>L_.sc.glif</string>
	<key>M.sc</key>
	<string>M_.sc.glif</string>
	<key>N.sc</key>
	<string>N_.sc.glif</string>
	<key>O.sc</key>
	<string>O_.sc.glif</string>
	<key>P.sc</key>
	<string>P_.sc.glif</string>
	<key>Q.sc</key>
	<string>Q_.sc.glif</string>
	<key>R.sc</key>
	<string>R_.sc.glif</string>
	<key>S.sc</key>
	<string>S_.sc.glif</string>
	<key>T.sc</key>
	<string>T_.sc.glif</string>
	<key>U.sc</key>
	<string>U_.sc.glif</string>
	<key>V.sc</key>
	<string>V_.sc.glif</string>
	<key>W.sc</key>
	<string>W_.sc.glif</string>
	<key>X.sc</key>
	<string>X_.sc.glif</string>
	<key>Y.sc</key>
	<string>Y_.sc.glif</string>
	<key>Z.sc</key>
	<string>Z_.sc.glif</string>
	<key>space</key>
	<string>space.glif</string>
</dict>
</plist>
