<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ii-cy</key>
    <string>I_i-cy.glif</string>
    <key>accountof</key>
    <string>accountof.glif</string>
    <key>addressedtothesubject</key>
    <string>addressedtothesubject.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>haabkhasian-cy</key>
    <string>haabkhasian-cy.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>notequal.case</key>
    <string>notequal.case.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
  </dict>
</plist>
