<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>master01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>a.sc</string>
		<string>ae.sc</string>
		<string>b.sc</string>
		<string>c.sc</string>
		<string>d.sc</string>
		<string>e.sc</string>
		<string>schwa.sc</string>
		<string>ezh.sc</string>
		<string>f.sc</string>
		<string>g.sc</string>
		<string>h.sc</string>
		<string>i.sc</string>
		<string>j.sc</string>
		<string>k.sc</string>
		<string>l.sc</string>
		<string>m.sc</string>
		<string>n.sc</string>
		<string>o.sc</string>
		<string>oe.sc</string>
		<string>p.sc</string>
		<string>q.sc</string>
		<string>r.sc</string>
		<string>s.sc</string>
		<string>germandbls.sc</string>
		<string>t.sc</string>
		<string>u.sc</string>
		<string>v.sc</string>
		<string>w.sc</string>
		<string>x.sc</string>
		<string>y.sc</string>
		<string>z.sc</string>
		<string>space</string>
		<string>.notdef</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>ezh.sc</key>
		<string>uni0292.sc</string>
		<key>schwa.sc</key>
		<string>uni0259.sc</string>
	</dict>
</dict>
</plist>
