<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>H</key>
    <string>H_.glif</string>
    <key>Komidje-cy</key>
    <string>K_omidje-cy.glif</string>
    <key>Komilje-cy</key>
    <string>K_omilje-cy.glif</string>
    <key>Kominje-cy</key>
    <string>K_ominje-cy.glif</string>
    <key>Komizje-cy</key>
    <string>K_omizje-cy.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>elhook-cy.sc</key>
    <string>elhook-cy.sc.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>gestrokehook-cy.sc</key>
    <string>gestrokehook-cy.sc.glif</string>
    <key>komidje-cy</key>
    <string>komidje-cy.glif</string>
    <key>komidje-cy.sc</key>
    <string>komidje-cy.sc.glif</string>
    <key>komilje-cy</key>
    <string>komilje-cy.glif</string>
    <key>kominje-cy</key>
    <string>kominje-cy.glif</string>
    <key>komitje-cy</key>
    <string>komitje-cy.glif</string>
    <key>komizje-cy</key>
    <string>komizje-cy.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>sheqel</key>
    <string>sheqel.glif</string>
  </dict>
</plist>
