<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Komidje-cy</key>
    <string>K_omidje-cy.glif</string>
    <key>Komilje-cy</key>
    <string>K_omilje-cy.glif</string>
    <key>Kominje-cy</key>
    <string>K_ominje-cy.glif</string>
    <key>Komizje-cy</key>
    <string>K_omizje-cy.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Yusbig-cy</key>
    <string>Y_usbig-cy.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.sc</key>
    <string>ampersand.sc.glif</string>
    <key>be-cy</key>
    <string>be-cy.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>elhook-cy.sc</key>
    <string>elhook-cy.sc.glif</string>
    <key>fita_part.</key>
    <string>fita_part..glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>komidje-cy.sc</key>
    <string>komidje-cy.sc.glif</string>
    <key>nine.tosf</key>
    <string>nine.tosf.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
  </dict>
</plist>
