<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>2014</integer>
	<key>capHeight</key>
	<integer>1522</integer>
	<key>copyright</key>
	<string>Copyright (c) 2010-2016, Sorkin Type Co (www.sorkintype.com) with Reserved Font Name 'Merriweather'</string>
	<key>descender</key>
	<integer>-560</integer>
	<key>familyName</key>
	<string>Merriweather Light</string>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>macintoshFONDName</key>
	<string>Merriweather Light</string>
	<key>openTypeHeadCreated</key>
	<string>2016/01/12 21:58:12</string>
	<key>openTypeHeadFlags</key>
	<array>
	</array>
	<key>openTypeHheaAscender</key>
	<integer>2014</integer>
	<key>openTypeHheaDescender</key>
	<integer>-560</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDescription</key>
	<string>Merriweather offers a Renissance warmth while using proportions which are space-saving. It is suitable forÂ editorial design, news and other kinds of space sensitive typography.</string>
	<key>openTypeNameDesigner</key>
	<string>Eben Sorkin ( sorkintype@gmail.com )</string>
	<key>openTypeNameDesignerURL</key>
	<string>sorkintype.com</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://sorkintype.com/eula.html</string>
	<key>openTypeNameManufacturer</key>
	<string>Eben Sorkin</string>
	<key>openTypeNameManufacturerURL</key>
	<string>sorkintype.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Merriweather Light</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeNameSampleText</key>
	<string></string>
	<key>openTypeNameUniqueID</key>
	<string>EbenSorkin: Merriweather Light: 2016</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.580</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>7</integer>
		<integer>29</integer>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>3</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>6</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>6</integer>
		<integer>3</integer>
		<integer>7</integer>
		<integer>4</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>1372</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>197</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>2726</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>315</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>2517</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>2726</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>1468</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>2517</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>2014</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-560</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>7</integer>
		<integer>9</integer>
		<integer>29</integer>
		<integer>31</integer>
		<integer>33</integer>
		<integer>35</integer>
		<integer>36</integer>
		<integer>37</integer>
		<integer>38</integer>
		<integer>45</integer>
		<integer>60</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>STC</string>
	<key>openTypeOS2WeightClass</key>
	<integer>300</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2014</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>560</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.039600000000000003</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-26</integer>
		<integer>0</integer>
		<integer>1136</integer>
		<integer>1168</integer>
		<integer>1522</integer>
		<integer>1540</integer>
	</array>
	<key>postscriptFontName</key>
	<string>MerriweatherLight</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>Merriweather Light</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-560</integer>
		<integer>-496</integer>
		<integer>1640</integer>
		<integer>1657</integer>
		<integer>1679</integer>
		<integer>1689</integer>
		<integer>2000</integer>
		<integer>2014</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>88</integer>
		<integer>97</integer>
		<integer>107</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>161</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-122</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>96</integer>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>styleMapFamilyName</key>
	<string>Merriweather Light</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Merriweather is a trademark of Sorkin Type Co.</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>580</integer>
	<key>xHeight</key>
	<integer>1136</integer>
	<key>year</key>
	<integer>2016</integer>
</dict>
</plist>
