<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>2014</integer>
	<key>capHeight</key>
	<integer>1522</integer>
	<key>copyright</key>
	<string>Copyright (c) 2010-2016, Sorkin Type Co (www.sorkintype.com) with Reserved Font Name 'Merriweather'</string>
	<key>descender</key>
	<integer>-560</integer>
	<key>familyName</key>
	<string>Merriweather Light</string>
	<key>openTypeHeadCreated</key>
	<string>2016/01/21 00:12:03</string>
	<key>openTypeHheaAscender</key>
	<integer>2014</integer>
	<key>openTypeHheaDescender</key>
	<integer>-560</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDescription</key>
	<string>Merriweather offers a Renissance warmth while using proportions which are space-saving. It is suitable forÂ editorial design, news and other kinds of space sensitive typography.</string>
	<key>openTypeNameDesigner</key>
	<string>Eben Sorkin</string>
	<key>openTypeNameDesignerURL</key>
	<string>sorkintype.com</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Eben Sorkin</string>
	<key>openTypeNameManufacturerURL</key>
	<string>sorkintype.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Merriweather Light</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>2014</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-560</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>STC</string>
	<key>openTypeOS2WeightClass</key>
	<integer>300</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2014</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>560</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-26</integer>
		<integer>0</integer>
		<integer>1136</integer>
		<integer>1168</integer>
		<integer>1522</integer>
		<integer>1540</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Merriweather-Light</string>
	<key>postscriptFullName</key>
	<string>Merriweather Light</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-560</integer>
		<integer>-496</integer>
		<integer>1640</integer>
		<integer>1657</integer>
		<integer>1679</integer>
		<integer>1689</integer>
		<integer>2000</integer>
		<integer>2014</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>88</integer>
		<integer>97</integer>
		<integer>107</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>161</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-170</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>96</integer>
	<key>styleMapFamilyName</key>
	<string>Merriweather Light</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Merriweather is a trademark of Sorkin Type Co.</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>583</integer>
	<key>xHeight</key>
	<integer>1136</integer>
</dict>
</plist>
