<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>a.sc</key>
	<string>a.sc.glif</string>
	<key>ae.sc</key>
	<string>ae.sc.glif</string>
	<key>b.sc</key>
	<string>b.sc.glif</string>
	<key>c.sc</key>
	<string>c.sc.glif</string>
	<key>d.sc</key>
	<string>d.sc.glif</string>
	<key>e.sc</key>
	<string>e.sc.glif</string>
	<key>eng.sc</key>
	<string>eng.sc.glif</string>
	<key>eth.sc</key>
	<string>eth.sc.glif</string>
	<key>ezh.sc</key>
	<string>ezh.sc.glif</string>
	<key>f.sc</key>
	<string>f.sc.glif</string>
	<key>g.sc</key>
	<string>g.sc.glif</string>
	<key>germandbls.sc</key>
	<string>germandbls.sc.glif</string>
	<key>gstroke.sc</key>
	<string>gstroke.sc.glif</string>
	<key>h.sc</key>
	<string>h.sc.glif</string>
	<key>i.sc</key>
	<string>i.sc.glif</string>
	<key>j.sc</key>
	<string>j.sc.glif</string>
	<key>k.sc</key>
	<string>k.sc.glif</string>
	<key>l.sc</key>
	<string>l.sc.glif</string>
	<key>lslash.sc</key>
	<string>lslash.sc.glif</string>
	<key>m.sc</key>
	<string>m.sc.glif</string>
	<key>n.sc</key>
	<string>n.sc.glif</string>
	<key>o.sc</key>
	<string>o.sc.glif</string>
	<key>oe.sc</key>
	<string>oe.sc.glif</string>
	<key>ohorn.sc</key>
	<string>ohorn.sc.glif</string>
	<key>oslash.sc</key>
	<string>oslash.sc.glif</string>
	<key>p.sc</key>
	<string>p.sc.glif</string>
	<key>q.sc</key>
	<string>q.sc.glif</string>
	<key>r.sc</key>
	<string>r.sc.glif</string>
	<key>s.sc</key>
	<string>s.sc.glif</string>
	<key>schwa.sc</key>
	<string>schwa.sc.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t.sc</key>
	<string>t.sc.glif</string>
	<key>thorn.sc</key>
	<string>thorn.sc.glif</string>
	<key>u.sc</key>
	<string>u.sc.glif</string>
	<key>uhorn.sc</key>
	<string>uhorn.sc.glif</string>
	<key>v.sc</key>
	<string>v.sc.glif</string>
	<key>w.sc</key>
	<string>w.sc.glif</string>
	<key>x.sc</key>
	<string>x.sc.glif</string>
	<key>y.sc</key>
	<string>y.sc.glif</string>
	<key>z.sc</key>
	<string>z.sc.glif</string>
</dict>
</plist>
