<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>ZQRV</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>master01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>Ezh</string>
		<string>F</string>
		<string>G</string>
		<string>Gstroke</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Eng</string>
		<string>O</string>
		<string>Ohorn</string>
		<string>Oslash</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>Germandbls</string>
		<string>Schwa</string>
		<string>T</string>
		<string>U</string>
		<string>Uhorn</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>space</string>
		<string>.notdef</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>Ezh</key>
		<string>uni01B7</string>
		<key>Germandbls</key>
		<string>uni1E9E</string>
		<key>Gstroke</key>
		<string>uni01E4</string>
		<key>Schwa</key>
		<string>uni018F</string>
	</dict>
</dict>
</plist>
