<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ordn1</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>sups1</key>
  <array>
    <string>one</string>
    <string>two</string>
    <string>three</string>
  </array>
  <key>sups2</key>
  <array>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
  </array>
</dict>
</plist>
