<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.fontlab.v2.tth</key>
	<dict>
		<key>stems</key>
		<dict>
			<key>X: 192</key>
			<dict>
				<key>horizontal</key>
				<integer>0</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>16</key>
					<integer>2</integer>
					<key>27</key>
					<integer>3</integer>
					<key>38</key>
					<integer>4</integer>
					<key>48</key>
					<integer>5</integer>
					<key>59</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>192</integer>
			</dict>
			<key>X: 276</key>
			<dict>
				<key>horizontal</key>
				<integer>0</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>12</key>
					<integer>2</integer>
					<key>19</key>
					<integer>3</integer>
					<key>26</key>
					<integer>4</integer>
					<key>34</key>
					<integer>5</integer>
					<key>41</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>276</integer>
			</dict>
			<key>Y: 105</key>
			<dict>
				<key>horizontal</key>
				<integer>1</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>108</key>
					<integer>6</integer>
					<key>30</key>
					<integer>2</integer>
					<key>49</key>
					<integer>3</integer>
					<key>69</key>
					<integer>4</integer>
					<key>88</key>
					<integer>5</integer>
				</dict>
				<key>width</key>
				<integer>105</integer>
			</dict>
			<key>Y: 127</key>
			<dict>
				<key>horizontal</key>
				<integer>1</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>25</key>
					<integer>2</integer>
					<key>41</key>
					<integer>3</integer>
					<key>57</key>
					<integer>4</integer>
					<key>73</key>
					<integer>5</integer>
					<key>89</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>127</integer>
			</dict>
			<key>Y: 147</key>
			<dict>
				<key>horizontal</key>
				<integer>1</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>21</key>
					<integer>2</integer>
					<key>35</key>
					<integer>3</integer>
					<key>49</key>
					<integer>4</integer>
					<key>63</key>
					<integer>5</integer>
					<key>77</key>
					<integer>6</integer>
				</dict>
				<key>width</key>
				<integer>147</integer>
			</dict>
			<key>Y: 85</key>
			<dict>
				<key>horizontal</key>
				<integer>1</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>109</key>
					<integer>5</integer>
					<key>133</key>
					<integer>6</integer>
					<key>37</key>
					<integer>2</integer>
					<key>61</key>
					<integer>3</integer>
					<key>85</key>
					<integer>4</integer>
				</dict>
				<key>width</key>
				<integer>85</integer>
			</dict>
			<key>Y: 98</key>
			<dict>
				<key>horizontal</key>
				<integer>1</integer>
				<key>round</key>
				<dict>
					<key>0</key>
					<integer>1</integer>
					<key>115</key>
					<integer>6</integer>
					<key>32</key>
					<integer>2</integer>
					<key>53</key>
					<integer>3</integer>
					<key>74</key>
					<integer>4</integer>
					<key>95</key>
					<integer>5</integer>
				</dict>
				<key>width</key>
				<integer>98</integer>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>5D10D6AF-547E-41B0-BF33-15AD97601FE6</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>Bdotaccent</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>DZ</string>
		<string>DZcaron</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotaccent</string>
		<string>Dz</string>
		<string>Dzcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>Fdotaccent</string>
		<string>G</string>
		<string>Gacute</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Gmacron</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>IJ</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>LJ</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lj</string>
		<string>Lslash</string>
		<string>M</string>
		<string>Mdotaccent</string>
		<string>N</string>
		<string>NJ</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Eng</string>
		<string>Nj</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Pdotaccent</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Sdotaccent</string>
		<string>Germandbls</string>
		<string>Schwa</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Tdotaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotaccent</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>I.uc</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>bdotaccent</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotaccent</string>
		<string>dz</string>
		<string>dzcaron</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>fdotaccent</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>gmacron</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>ij</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lj</string>
		<string>lslash</string>
		<string>m</string>
		<string>mdotaccent</string>
		<string>n</string>
		<string>nacute</string>
		<string>napostrophe</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>eng</string>
		<string>nj</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>pdotaccent</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>germandbls</string>
		<string>schwa</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>tdotaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotaccent</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>i.cy</string>
		<string>i.dot</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_i_trk</string>
		<string>f_f_l</string>
		<string>f_i_trk</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>IJ_acutecomb</string>
		<string>ij_acutecomb</string>
		<string>A-cy</string>
		<string>Be-cy</string>
		<string>Ve-cy</string>
		<string>Ge-cy</string>
		<string>Gje-cy</string>
		<string>Gheupturn-cy</string>
		<string>De-cy</string>
		<string>Ie-cy</string>
		<string>Iegrave-cy</string>
		<string>Io-cy</string>
		<string>Zhe-cy</string>
		<string>Ze-cy</string>
		<string>Ii-cy</string>
		<string>Iishort-cy</string>
		<string>Iigrave-cy</string>
		<string>Iishorttail-cy</string>
		<string>Ka-cy</string>
		<string>Kje-cy</string>
		<string>El-cy</string>
		<string>Em-cy</string>
		<string>En-cy</string>
		<string>O-cy</string>
		<string>Pe-cy</string>
		<string>Er-cy</string>
		<string>Es-cy</string>
		<string>Te-cy</string>
		<string>U-cy</string>
		<string>Ushort-cy</string>
		<string>Ef-cy</string>
		<string>Ha-cy</string>
		<string>Che-cy</string>
		<string>Tse-cy</string>
		<string>Sha-cy</string>
		<string>Shcha-cy</string>
		<string>Dzhe-cy</string>
		<string>Softsign-cy</string>
		<string>Hardsign-cy</string>
		<string>Yeru-cy</string>
		<string>Lje-cy</string>
		<string>Nje-cy</string>
		<string>Dze-cy</string>
		<string>E-cy</string>
		<string>Ereversed-cy</string>
		<string>I-cy</string>
		<string>Yi-cy</string>
		<string>Je-cy</string>
		<string>Tshe-cy</string>
		<string>Iu-cy</string>
		<string>Ia-cy</string>
		<string>Dje-cy</string>
		<string>Yat-cy</string>
		<string>Fita-cy</string>
		<string>Izhitsa-cy</string>
		<string>Ghestroke-cy</string>
		<string>Ghemiddlehook-cy</string>
		<string>Zhedescender-cy</string>
		<string>Zedescender-cy</string>
		<string>Kadescender-cy</string>
		<string>Kaverticalstroke-cy</string>
		<string>Kastroke-cy</string>
		<string>Kabashkir-cy</string>
		<string>Endescender-cy</string>
		<string>Pemiddlehook-cy</string>
		<string>Haabkhasian-cy</string>
		<string>Esdescender-cy</string>
		<string>Tedescender-cy</string>
		<string>Ustrait-cy</string>
		<string>Ustraitstroke-cy</string>
		<string>Hadescender-cy</string>
		<string>Chedescender-cy</string>
		<string>Cheverticalstroke-cy</string>
		<string>Shha-cy</string>
		<string>Cheabkhasian-cy</string>
		<string>Chedescenderabkhasian-cy</string>
		<string>Palochka-cy</string>
		<string>Zhebreve-cy</string>
		<string>Kahook-cy</string>
		<string>Eltail-cy</string>
		<string>Enhook-cy</string>
		<string>Entail-cy</string>
		<string>Chekhakassian-cy</string>
		<string>Emtail-cy</string>
		<string>Abreve-cy</string>
		<string>Adieresis-cy</string>
		<string>Iebreve-cy</string>
		<string>Schwa-cy</string>
		<string>Schwadieresis-cy</string>
		<string>Zhedieresis-cy</string>
		<string>Zedieresis-cy</string>
		<string>Dzeabkhasian-cy</string>
		<string>Imacron-cy</string>
		<string>Idieresis-cy</string>
		<string>Odieresis-cy</string>
		<string>Obarred-cy</string>
		<string>Obarreddieresis-cy</string>
		<string>Edieresis-cy</string>
		<string>Umacron-cy</string>
		<string>Udieresis-cy</string>
		<string>Uhungarumlaut-cy</string>
		<string>Chedieresis-cy</string>
		<string>Gedescender-cy</string>
		<string>Yerudieresis-cy</string>
		<string>Komide-cy</string>
		<string>Komidje-cy</string>
		<string>Komizje-cy</string>
		<string>Komidzje-cy</string>
		<string>Komilje-cy</string>
		<string>Kominje-cy</string>
		<string>Komisje-cy</string>
		<string>Komitje-cy</string>
		<string>Semisoftsign-cy</string>
		<string>Ertick-cy</string>
		<string>a-cy</string>
		<string>be-cy</string>
		<string>ve-cy</string>
		<string>ge-cy</string>
		<string>gje-cy</string>
		<string>gheupturn-cy</string>
		<string>de-cy</string>
		<string>ie-cy</string>
		<string>iegrave-cy</string>
		<string>io-cy</string>
		<string>zhe-cy</string>
		<string>ze-cy</string>
		<string>ii-cy</string>
		<string>iishort-cy</string>
		<string>iigrave-cy</string>
		<string>iishorttail-cy</string>
		<string>ka-cy</string>
		<string>kje-cy</string>
		<string>el-cy</string>
		<string>em-cy</string>
		<string>en-cy</string>
		<string>o-cy</string>
		<string>pe-cy</string>
		<string>er-cy</string>
		<string>es-cy</string>
		<string>te-cy</string>
		<string>u-cy</string>
		<string>ushort-cy</string>
		<string>ef-cy</string>
		<string>ha-cy</string>
		<string>che-cy</string>
		<string>tse-cy</string>
		<string>sha-cy</string>
		<string>shcha-cy</string>
		<string>dzhe-cy</string>
		<string>softsign-cy</string>
		<string>hardsign-cy</string>
		<string>yeru-cy</string>
		<string>lje-cy</string>
		<string>nje-cy</string>
		<string>dze-cy</string>
		<string>e-cy</string>
		<string>ereversed-cy</string>
		<string>i-cy</string>
		<string>yi-cy</string>
		<string>je-cy</string>
		<string>tshe-cy</string>
		<string>iu-cy</string>
		<string>ia-cy</string>
		<string>dje-cy</string>
		<string>yat-cy</string>
		<string>fita-cy</string>
		<string>izhitsa-cy</string>
		<string>ghestroke-cy</string>
		<string>ghemiddlehook-cy</string>
		<string>zhedescender-cy</string>
		<string>zedescender-cy</string>
		<string>kadescender-cy</string>
		<string>kaverticalstroke-cy</string>
		<string>kastroke-cy</string>
		<string>kabashkir-cy</string>
		<string>endescender-cy</string>
		<string>pemiddlehook-cy</string>
		<string>haabkhasian-cy</string>
		<string>esdescender-cy</string>
		<string>tedescender-cy</string>
		<string>ustrait-cy</string>
		<string>ustraitstroke-cy</string>
		<string>hadescender-cy</string>
		<string>chedescender-cy</string>
		<string>cheverticalstroke-cy</string>
		<string>shha-cy</string>
		<string>cheabkhasian-cy</string>
		<string>chedescenderabkhasian-cy</string>
		<string>palochka-cy</string>
		<string>zhebreve-cy</string>
		<string>kahook-cy</string>
		<string>eltail-cy</string>
		<string>enhook-cy</string>
		<string>entail-cy</string>
		<string>chekhakassian-cy</string>
		<string>emtail-cy</string>
		<string>abreve-cy</string>
		<string>adieresis-cy</string>
		<string>iebreve-cy</string>
		<string>schwa-cy</string>
		<string>schwadieresis-cy</string>
		<string>zhedieresis-cy</string>
		<string>zedieresis-cy</string>
		<string>dzeabkhasian-cy</string>
		<string>imacron-cy</string>
		<string>idieresis-cy</string>
		<string>odieresis-cy</string>
		<string>obarred-cy</string>
		<string>obarreddieresis-cy</string>
		<string>edieresis-cy</string>
		<string>umacron-cy</string>
		<string>udieresis-cy</string>
		<string>uhungarumlaut-cy</string>
		<string>chedieresis-cy</string>
		<string>gedescender-cy</string>
		<string>yerudieresis-cy</string>
		<string>komide-cy</string>
		<string>komidje-cy</string>
		<string>komizje-cy</string>
		<string>komidzje-cy</string>
		<string>komilje-cy</string>
		<string>kominje-cy</string>
		<string>komisje-cy</string>
		<string>komitje-cy</string>
		<string>semisoftsign-cy</string>
		<string>ertick-cy</string>
		<string>Enghe-cy</string>
		<string>enghe-cy</string>
		<string>Tetse-cy</string>
		<string>tetse-cy</string>
		<string>Aie-cy</string>
		<string>aie-cy</string>
		<string>Delta</string>
		<string>Omega</string>
		<string>mu</string>
		<string>pi</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>eight.dnom</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>five.numr</string>
		<string>seven.numr</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdouble</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>periodcentered.cap</string>
		<string>bullet.cap</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>space</string>
		<string>nbspace</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>cedi</string>
		<string>cent</string>
		<string>colonsign</string>
		<string>currency</string>
		<string>dollar</string>
		<string>dong</string>
		<string>euro</string>
		<string>florin</string>
		<string>franc</string>
		<string>guarani</string>
		<string>lira</string>
		<string>liraTurkish</string>
		<string>naira</string>
		<string>peseta</string>
		<string>peso</string>
		<string>rupeeIndian</string>
		<string>sheqel</string>
		<string>sterling</string>
		<string>won</string>
		<string>yen</string>
		<string>Ohm</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>bulletoperator</string>
		<string>divide</string>
		<string>divisionslash</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>increment</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>micro</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>upArrow</string>
		<string>rightArrow</string>
		<string>downArrow</string>
		<string>leftArrow</string>
		<string>leftRightArrow</string>
		<string>upDownArrow</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>careof</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>literSign</string>
		<string>numero</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>minute</string>
		<string>second</string>
		<string>servicemark</string>
		<string>ampersand.sc</string>
		<string>commaaccentcomb</string>
		<string>firsttonechinese</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>acute.cap</string>
		<string>breve.cap</string>
		<string>caron.cap</string>
		<string>circumflex.cap</string>
		<string>dieresis.cap</string>
		<string>dotaccent.cap</string>
		<string>grave.cap</string>
		<string>hungarumlaut.cap</string>
		<string>macron.cap</string>
		<string>ring.cap</string>
		<string>tilde.cap</string>
		<string>breve.r</string>
		<string>breve.rcap</string>
		<string>caronvertical</string>
		<string>Gtilde</string>
		<string>NULL</string>
	</array>
</dict>
</plist>
