<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>1966.0</real>
    <key>capHeight</key>
    <real>1486.0</real>
    <key>copyright</key>
    <string>Copyright 2020 The Merriweather Project Authors (https://github.com/EbenSorkin/Merriweather), with Reserved Font Name "Merriweather".</string>
    <key>descender</key>
    <real>-546.0</real>
    <key>familyName</key>
    <string>Merriweather</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>473.0</real>
        <key>y</key>
        <real>537.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>-132.0</real>
        <key>y</key>
        <real>-378.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>-86.0</real>
        <key>y</key>
        <real>2064.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>-100.0</real>
        <key>y</key>
        <real>1802.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>-120.0</real>
        <key>y</key>
        <real>-20.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>390.0</real>
        <key>y</key>
        <real>-224.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>-44.0</real>
        <key>y</key>
        <real>-410.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>-61.0</real>
        <key>y</key>
        <real>1510.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>-26.0</real>
        <key>y</key>
        <real>1432.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>-22.0</real>
        <key>y</key>
        <real>361.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>8.0</real>
        <key>y</key>
        <real>0.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>7.0</real>
        <key>y</key>
        <real>38.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>68.0</real>
        <key>y</key>
        <real>0.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>-3.0</real>
        <key>y</key>
        <real>-254.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>-2.0</real>
        <key>y</key>
        <real>-360.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>90.0</real>
        <key>x</key>
        <real>1864.0</real>
        <key>y</key>
        <real>409.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>188.0</real>
        <key>y</key>
        <real>659.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>8.0</real>
        <key>y</key>
        <real>62.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>-22.0</real>
        <key>y</key>
        <real>342.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>637.0</real>
        <key>y</key>
        <real>1134.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>175.0</real>
        <key>y</key>
        <real>780.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>-80.0</real>
        <key>y</key>
        <real>1262.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>x</key>
        <real>-80.0</real>
        <key>y</key>
        <real>1246.0</real>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>-0.0</real>
    <key>openTypeHeadCreated</key>
    <string>2019/10/10 19:26:32</string>
    <key>openTypeHheaAscender</key>
    <integer>1968</integer>
    <key>openTypeHheaDescender</key>
    <integer>-546</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Eben Sorkin</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://sorkintype.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Eben Sorkin</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://sorkintype.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1968</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-546</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>STC</string>
    <key>openTypeOS2WinAscent</key>
    <integer>2456</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>604</integer>
    <key>postscriptBlueValues</key>
    <array>
      <real>-34.0</real>
      <real>0.0</real>
      <real>1005.0</real>
      <real>1045.0</real>
      <real>1292.0</real>
      <real>1324.0</real>
      <real>1486.0</real>
      <real>1516.0</real>
      <real>1540.0</real>
      <real>1588.0</real>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>59</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>330</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-244</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>110</integer>
    <key>styleMapFamilyName</key>
    <string>Merriweather Black Display Wide</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Black Display Wide</string>
    <key>trademark</key>
    <string>Merriweather is a trademark of Sorkin Type Co.</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>8</integer>
    <key>xHeight</key>
    <real>1005.0</real>
  </dict>
</plist>
