<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Ezh</key>
	<string>Ezh_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Germandbls</key>
	<string>Germandbls_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Schwa</key>
	<string>Schwa_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a.sc</key>
	<string>a.sc.glif</string>
	<key>b.sc</key>
	<string>b.sc.glif</string>
	<key>c.sc</key>
	<string>c.sc.glif</string>
	<key>d.sc</key>
	<string>d.sc.glif</string>
	<key>e.sc</key>
	<string>e.sc.glif</string>
	<key>f.sc</key>
	<string>f.sc.glif</string>
	<key>g.sc</key>
	<string>g.sc.glif</string>
	<key>h.sc</key>
	<string>h.sc.glif</string>
	<key>i.sc</key>
	<string>i.sc.glif</string>
	<key>j.sc</key>
	<string>j.sc.glif</string>
	<key>k.sc</key>
	<string>k.sc.glif</string>
	<key>l.sc</key>
	<string>l.sc.glif</string>
	<key>m.sc</key>
	<string>m.sc.glif</string>
	<key>n.sc</key>
	<string>n.sc.glif</string>
	<key>o.sc</key>
	<string>o.sc.glif</string>
	<key>p.sc</key>
	<string>p.sc.glif</string>
	<key>q.sc</key>
	<string>q.sc.glif</string>
	<key>r.sc</key>
	<string>r.sc.glif</string>
	<key>s.sc</key>
	<string>s.sc.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t.sc</key>
	<string>t.sc.glif</string>
	<key>u.sc</key>
	<string>u.sc.glif</string>
	<key>v.sc</key>
	<string>v.sc.glif</string>
	<key>w.sc</key>
	<string>w.sc.glif</string>
	<key>x.sc</key>
	<string>x.sc.glif</string>
	<key>y.sc</key>
	<string>y.sc.glif</string>
	<key>z.sc</key>
	<string>z.sc.glif</string>
</dict>
</plist>
