<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>cheabkhasian-cy.sc</key>
	<string>cheabkhasian-cy.sc.glif</string>
	<key>chedescenderabkhasian-cy.sc</key>
	<string>chedescenderabkhasian-cy.sc.glif</string>
	<key>de-cy.loclBGR.sc</key>
	<string>de-cy.loclBGR_.sc.glif</string>
	<key>dje-cy.sc</key>
	<string>dje-cy.sc.glif</string>
	<key>ef-cy.loclBGR.sc</key>
	<string>ef-cy.loclBGR_.sc.glif</string>
	<key>el-cy.loclBGR.sc</key>
	<string>el-cy.loclBGR_.sc.glif</string>
	<key>eldescender-cy.sc</key>
	<string>eldescender-cy.sc.glif</string>
	<key>emtail-cy.sc</key>
	<string>emtail-cy.sc.glif</string>
	<key>endescender-cy.sc</key>
	<string>endescender-cy.sc.glif</string>
	<key>enghe-cy.sc</key>
	<string>enghe-cy.sc.glif</string>
	<key>enhook-cy.sc</key>
	<string>enhook-cy.sc.glif</string>
	<key>enlefthook-cy.sc</key>
	<string>enlefthook-cy.sc.glif</string>
	<key>entail-cy.sc</key>
	<string>entail-cy.sc.glif</string>
	<key>ertick-cy.sc</key>
	<string>ertick-cy.sc.glif</string>
	<key>esdescender-cy.sc</key>
	<string>esdescender-cy.sc.glif</string>
	<key>fita-cy.sc</key>
	<string>fita-cy.sc.glif</string>
	<key>gedescender-cy.sc</key>
	<string>gedescender-cy.sc.glif</string>
	<key>haabkhasian-cy.sc</key>
	<string>haabkhasian-cy.sc.glif</string>
	<key>hadescender-cy.sc</key>
	<string>hadescender-cy.sc.glif</string>
	<key>iu-cy.sc</key>
	<string>iu-cy.sc.glif</string>
	<key>izhitsa-cy.sc</key>
	<string>izhitsa-cy.sc.glif</string>
	<key>kahook-cy.sc</key>
	<string>kahook-cy.sc.glif</string>
	<key>kominje-cy.sc</key>
	<string>kominje-cy.sc.glif</string>
	<key>komisje-cy.sc</key>
	<string>komisje-cy.sc.glif</string>
	<key>komitje-cy.sc</key>
	<string>komitje-cy.sc.glif</string>
	<key>pe-cy.sc</key>
	<string>pe-cy.sc.glif</string>
	<key>pedescender-cy.sc</key>
	<string>pedescender-cy.sc.glif</string>
	<key>pemiddlehook-cy.sc</key>
	<string>pemiddlehook-cy.sc.glif</string>
	<key>reversedze-cy.sc</key>
	<string>reversedze-cy.sc.glif</string>
	<key>shha-cy.sc</key>
	<string>shha-cy.sc.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>tedescender-cy.sc</key>
	<string>tedescender-cy.sc.glif</string>
	<key>tshe-cy.sc</key>
	<string>tshe-cy.sc.glif</string>
	<key>u-cy.sc</key>
	<string>u-cy.sc.glif</string>
	<key>yusbig-cy.sc</key>
	<string>yusbig-cy.sc.glif</string>
</dict>
</plist>
