<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>aie-cy.sc</key>
	<string>aie-cy.sc.glif</string>
	<key>be-cy.sc</key>
	<string>be-cy.sc.glif</string>
	<key>che-cy.sc</key>
	<string>che-cy.sc.glif</string>
	<key>cheabkhasian-cy.sc</key>
	<string>cheabkhasian-cy.sc.glif</string>
	<key>chedescender-cy.sc</key>
	<string>chedescender-cy.sc.glif</string>
	<key>chedescenderabkhasian-cy.sc</key>
	<string>chedescenderabkhasian-cy.sc.glif</string>
	<key>chedieresis-cy.sc</key>
	<string>chedieresis-cy.sc.glif</string>
	<key>chekhakassian-cy.sc</key>
	<string>chekhakassian-cy.sc.glif</string>
	<key>cheverticalstroke-cy.sc</key>
	<string>cheverticalstroke-cy.sc.glif</string>
	<key>de-cy.sc</key>
	<string>de-cy.sc.glif</string>
	<key>dje-cy.sc</key>
	<string>dje-cy.sc.glif</string>
	<key>dzeabkhasian-cy.sc</key>
	<string>dzeabkhasian-cy.sc.glif</string>
	<key>dzhe-cy.sc</key>
	<string>dzhe-cy.sc.glif</string>
	<key>e-cy.sc</key>
	<string>e-cy.sc.glif</string>
	<key>edieresis-cy.sc</key>
	<string>edieresis-cy.sc.glif</string>
	<key>ef-cy.sc</key>
	<string>ef-cy.sc.glif</string>
	<key>el-cy.sc</key>
	<string>el-cy.sc.glif</string>
	<key>eldescender-cy.sc</key>
	<string>eldescender-cy.sc.glif</string>
	<key>elhook-cy.sc</key>
	<string>elhook-cy.sc.glif</string>
	<key>eltail-cy.sc</key>
	<string>eltail-cy.sc.glif</string>
	<key>enhook-cy.sc</key>
	<string>enhook-cy.sc.glif</string>
	<key>enlefthook-cy.sc</key>
	<string>enlefthook-cy.sc.glif</string>
	<key>ereversed-cy.sc</key>
	<string>ereversed-cy.sc.glif</string>
	<key>ge-cy.sc</key>
	<string>ge-cy.sc.glif</string>
	<key>gedescender-cy.sc</key>
	<string>gedescender-cy.sc.glif</string>
	<key>gestrokehook-cy.sc</key>
	<string>gestrokehook-cy.sc.glif</string>
	<key>ghemiddlehook-cy.sc</key>
	<string>ghemiddlehook-cy.sc.glif</string>
	<key>ghestroke-cy.sc</key>
	<string>ghestroke-cy.sc.glif</string>
	<key>gheupturn-cy.sc</key>
	<string>gheupturn-cy.sc.glif</string>
	<key>gje-cy.sc</key>
	<string>gje-cy.sc.glif</string>
	<key>haabkhasian-cy.sc</key>
	<string>haabkhasian-cy.sc.glif</string>
	<key>hadescender-cy.sc</key>
	<string>hadescender-cy.sc.glif</string>
	<key>hahook-cy.sc</key>
	<string>hahook-cy.sc.glif</string>
	<key>hardsign-cy.sc</key>
	<string>hardsign-cy.sc.glif</string>
	<key>ia-cy.sc</key>
	<string>ia-cy.sc.glif</string>
	<key>idieresis-cy.sc</key>
	<string>idieresis-cy.sc.glif</string>
	<key>ii-cy.sc</key>
	<string>ii-cy.sc.glif</string>
	<key>iigrave-cy.sc</key>
	<string>iigrave-cy.sc.glif</string>
	<key>iishort-cy.sc</key>
	<string>iishort-cy.sc.glif</string>
	<key>iishorttail-cy.sc</key>
	<string>iishorttail-cy.sc.glif</string>
	<key>imacron-cy.sc</key>
	<string>imacron-cy.sc.glif</string>
	<key>iu-cy.sc</key>
	<string>iu-cy.sc.glif</string>
	<key>izhitsa-cy.sc</key>
	<string>izhitsa-cy.sc.glif</string>
	<key>ka-cy.sc</key>
	<string>ka-cy.sc.glif</string>
	<key>kabashkir-cy.sc</key>
	<string>kabashkir-cy.sc.glif</string>
	<key>kadescender-cy.sc</key>
	<string>kadescender-cy.sc.glif</string>
	<key>kahook-cy.sc</key>
	<string>kahook-cy.sc.glif</string>
	<key>kastroke-cy.sc</key>
	<string>kastroke-cy.sc.glif</string>
	<key>kaverticalstroke-cy.sc</key>
	<string>kaverticalstroke-cy.sc.glif</string>
	<key>kje-cy.sc</key>
	<string>kje-cy.sc.glif</string>
	<key>komide-cy.sc</key>
	<string>komide-cy.sc.glif</string>
	<key>komidje-cy.sc</key>
	<string>komidje-cy.sc.glif</string>
	<key>komidzje-cy.sc</key>
	<string>komidzje-cy.sc.glif</string>
	<key>komilje-cy.sc</key>
	<string>komilje-cy.sc.glif</string>
	<key>kominje-cy.sc</key>
	<string>kominje-cy.sc.glif</string>
	<key>komisje-cy.sc</key>
	<string>komisje-cy.sc.glif</string>
	<key>komitje-cy.sc</key>
	<string>komitje-cy.sc.glif</string>
	<key>komizje-cy.sc</key>
	<string>komizje-cy.sc.glif</string>
	<key>lje-cy.sc</key>
	<string>lje-cy.sc.glif</string>
	<key>nje-cy.sc</key>
	<string>nje-cy.sc.glif</string>
	<key>pe-cy.sc</key>
	<string>pe-cy.sc.glif</string>
	<key>pedescender-cy.sc</key>
	<string>pedescender-cy.sc.glif</string>
	<key>pemiddlehook-cy.sc</key>
	<string>pemiddlehook-cy.sc.glif</string>
	<key>reversedze-cy.sc</key>
	<string>reversedze-cy.sc.glif</string>
	<key>semisoftsign-cy.sc</key>
	<string>semisoftsign-cy.sc.glif</string>
	<key>sha-cy.sc</key>
	<string>sha-cy.sc.glif</string>
	<key>shcha-cy.sc</key>
	<string>shcha-cy.sc.glif</string>
	<key>shha-cy.sc</key>
	<string>shha-cy.sc.glif</string>
	<key>shhadescender-cy.sc</key>
	<string>shhadescender-cy.sc.glif</string>
	<key>softsign-cy.sc</key>
	<string>softsign-cy.sc.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>tedescender-cy.sc</key>
	<string>tedescender-cy.sc.glif</string>
	<key>tetse-cy.sc</key>
	<string>tetse-cy.sc.glif</string>
	<key>tse-cy.sc</key>
	<string>tse-cy.sc.glif</string>
	<key>tshe-cy.sc</key>
	<string>tshe-cy.sc.glif</string>
	<key>u-cy.sc</key>
	<string>u-cy.sc.glif</string>
	<key>udieresis-cy.sc</key>
	<string>udieresis-cy.sc.glif</string>
	<key>uhungarumlaut-cy.sc</key>
	<string>uhungarumlaut-cy.sc.glif</string>
	<key>umacron-cy.sc</key>
	<string>umacron-cy.sc.glif</string>
	<key>ushort-cy.sc</key>
	<string>ushort-cy.sc.glif</string>
	<key>yat-cy.sc</key>
	<string>yat-cy.sc.glif</string>
	<key>yeru-cy.sc</key>
	<string>yeru-cy.sc.glif</string>
	<key>yerudieresis-cy.sc</key>
	<string>yerudieresis-cy.sc.glif</string>
	<key>yusbig-cy.sc</key>
	<string>yusbig-cy.sc.glif</string>
	<key>ze-cy.sc</key>
	<string>ze-cy.sc.glif</string>
	<key>zedescender-cy.sc</key>
	<string>zedescender-cy.sc.glif</string>
	<key>zedieresis-cy.sc</key>
	<string>zedieresis-cy.sc.glif</string>
	<key>zhe-cy.sc</key>
	<string>zhe-cy.sc.glif</string>
	<key>zhebreve-cy.sc</key>
	<string>zhebreve-cy.sc.glif</string>
	<key>zhedescender-cy.sc</key>
	<string>zhedescender-cy.sc.glif</string>
	<key>zhedieresis-cy.sc</key>
	<string>zhedieresis-cy.sc.glif</string>
</dict>
</plist>
