<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1966</integer>
	<key>capHeight</key>
	<integer>1486</integer>
	<key>descender</key>
	<integer>-546</integer>
	<key>familyName</key>
	<string>Merriweather</string>
	<key>italicAngle</key>
	<real>-7.8</real>
	<key>openTypeHeadCreated</key>
	<string>2019/07/26 23:46:30</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Merriweather</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Light Display Narrow</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Merriweather-LightDisplayNarrow</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>styleMapFamilyName</key>
	<string>Merriweather Light Display Narrow</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Light Display Narrow</string>
	<key>unitsPerEm</key>
	<integer>2000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>1005</integer>
</dict>
</plist>
