<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>u</key>
  <dict>
    <key>r</key>
    <integer>-3</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>z</key>
    <integer>-25</integer>
    <key>y</key>
    <integer>-25</integer>
    <key>x</key>
    <integer>-25</integer>
    <key>w</key>
    <integer>-25</integer>
    <key>u</key>
    <integer>-25</integer>
    <key>t</key>
    <integer>-18</integer>
    <key>s</key>
    <integer>-25</integer>
    <key>r</key>
    <integer>-18</integer>
    <key>p</key>
    <integer>-18</integer>
    <key>o</key>
    <integer>-25</integer>
    <key>n</key>
    <integer>-18</integer>
    <key>m</key>
    <integer>-18</integer>
    <key>j</key>
    <integer>-6</integer>
    <key>i</key>
    <integer>-6</integer>
    <key>g</key>
    <integer>-25</integer>
  </dict>
</dict>
</plist>
