<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1966</integer>
    <key>capHeight</key>
    <integer>1486</integer>
    <key>copyright</key>
    <string>Copyright 2016 The Merriweather Project Authors (https://github.com/EbenSorkin/Merriweather), with Reserved Font Name "Merriweather".</string>
    <key>descender</key>
    <integer>-546</integer>
    <key>familyName</key>
    <string>Merriweather Display</string>
    <key>openTypeHeadCreated</key>
    <string>2019/04/04 21:48:37</string>
    <key>openTypeNameDesigner</key>
    <string>Eben Sorkin</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://sorkintype.com</string>
    <key>openTypeNameManufacturer</key>
    <string>Eben Sorkin</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://sorkintype.com</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Merriweather29</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2VendorID</key>
    <string>STC</string>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-34</integer>
      <integer>0</integer>
      <integer>1005</integer>
      <integer>1045</integer>
      <integer>1292</integer>
      <integer>1322</integer>
      <integer>1486</integer>
      <integer>1506</integer>
      <integer>1540</integer>
      <integer>1568</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array>
      <integer>-26</integer>
      <integer>0</integer>
      <integer>1110</integer>
      <integer>1142</integer>
      <integer>1292</integer>
      <integer>1324</integer>
      <integer>1486</integer>
      <integer>1506</integer>
      <integer>1540</integer>
      <integer>1588</integer>
    </array>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>59</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>330</integer>
    </array>
    <key>styleName</key>
    <string>Regular</string>
    <key>trademark</key>
    <string>Merriweather is a trademark of Sorkin Type Co.</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>6</integer>
    <key>xHeight</key>
    <integer>1005</integer>
  </dict>
</plist>
