<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>T</key>
	<dict>
		<key>g</key>
		<integer>-105</integer>
		<key>i</key>
		<integer>-26</integer>
		<key>j</key>
		<integer>-26</integer>
		<key>m</key>
		<integer>-78</integer>
		<key>n</key>
		<integer>-78</integer>
		<key>o</key>
		<integer>-105</integer>
		<key>p</key>
		<integer>-78</integer>
		<key>r</key>
		<integer>-78</integer>
		<key>s</key>
		<integer>-105</integer>
		<key>t</key>
		<integer>-78</integer>
		<key>u</key>
		<integer>-105</integer>
		<key>w</key>
		<integer>-105</integer>
		<key>x</key>
		<integer>-105</integer>
		<key>y</key>
		<integer>-105</integer>
		<key>z</key>
		<integer>-105</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>r</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
