<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B.sc</key>
	<dict>
		<key>X.sc</key>
		<integer>-31</integer>
		<key>de-cy.sc</key>
		<integer>-34</integer>
	</dict>
	<key>Phi</key>
	<dict>
		<key>de-cy.sc</key>
		<integer>-34</integer>
		<key>el-cy.sc</key>
		<integer>-68</integer>
	</dict>
	<key>de-cy.sc</key>
	<dict>
		<key>cheabkhasian-cy.sc</key>
		<integer>-68</integer>
		<key>pe-cy.sc</key>
		<integer>34</integer>
		<key>ze-cy.sc</key>
		<integer>-28</integer>
	</dict>
	<key>dje-cy.sc</key>
	<dict>
		<key>de-cy.sc</key>
		<integer>45</integer>
		<key>zhe-cy.sc</key>
		<integer>34</integer>
	</dict>
	<key>dzeabkhasian-cy.sc</key>
	<dict>
		<key>de-cy.sc</key>
		<integer>11</integer>
		<key>el-cy.sc</key>
		<integer>-34</integer>
	</dict>
	<key>eight.sups</key>
	<dict>
		<key>solidus</key>
		<integer>-17</integer>
	</dict>
	<key>five.sups</key>
	<dict>
		<key>solidus</key>
		<integer>-26</integer>
		<key>zero.sups</key>
		<integer>0</integer>
	</dict>
	<key>four.sups</key>
	<dict>
		<key>nine.sups</key>
		<integer>-1</integer>
		<key>solidus</key>
		<integer>-16</integer>
		<key>zero.sups</key>
		<integer>-9</integer>
	</dict>
	<key>ge-cy.sc</key>
	<dict>
		<key>de-cy.sc</key>
		<integer>-68</integer>
		<key>el-cy.sc</key>
		<integer>-73</integer>
		<key>izhitsa-cy.sc</key>
		<integer>45</integer>
		<key>komide-cy.sc</key>
		<integer>-78</integer>
		<key>semisoftsign-cy.sc</key>
		<integer>34</integer>
		<key>yat-cy.sc</key>
		<integer>68</integer>
		<key>yusbig-cy.sc</key>
		<integer>-118</integer>
	</dict>
	<key>gedescender-cy.sc</key>
	<dict>
		<key>de-cy.sc</key>
		<integer>-34</integer>
		<key>el-cy.sc</key>
		<integer>-56</integer>
	</dict>
	<key>gestrokehook-cy.sc</key>
	<dict>
		<key>el-cy.sc</key>
		<integer>-56</integer>
	</dict>
	<key>gheupturn-cy.sc</key>
	<dict>
		<key>cheabkhasian-cy.sc</key>
		<integer>-129</integer>
		<key>de-cy.sc</key>
		<integer>-85</integer>
		<key>el-cy.sc</key>
		<integer>-85</integer>
		<key>haabkhasian-cy.sc</key>
		<integer>-45</integer>
		<key>ia-cy.sc</key>
		<integer>-68</integer>
		<key>komide-cy.sc</key>
		<integer>-107</integer>
		<key>phi.sc</key>
		<integer>-68</integer>
		<key>yusbig-cy.sc</key>
		<integer>-101</integer>
	</dict>
	<key>hadescender-cy.sc</key>
	<dict>
		<key>de-cy.sc</key>
		<integer>34</integer>
		<key>pe-cy.sc</key>
		<integer>34</integer>
	</dict>
	<key>hahook-cy.sc</key>
	<dict>
		<key>el-cy.sc</key>
		<integer>-34</integer>
	</dict>
	<key>izhitsa-cy.sc</key>
	<dict>
		<key>de-cy.sc</key>
		<integer>-118</integer>
		<key>el-cy.sc</key>
		<integer>-85</integer>
	</dict>
	<key>kadescender-cy.sc</key>
	<dict>
		<key>de-cy.sc</key>
		<integer>51</integer>
		<key>el-cy.sc</key>
		<integer>17</integer>
		<key>pe-cy.sc</key>
		<integer>34</integer>
	</dict>
	<key>kahook-cy.sc</key>
	<dict>
		<key>el-cy.sc</key>
		<integer>5</integer>
	</dict>
	<key>komidje-cy.sc</key>
	<dict>
		<key>de-cy.sc</key>
		<integer>-51</integer>
		<key>el-cy.sc</key>
		<integer>-68</integer>
	</dict>
	<key>komidzje-cy.sc</key>
	<dict>
		<key>de-cy.sc</key>
		<integer>56</integer>
		<key>zhe-cy.sc</key>
		<integer>56</integer>
	</dict>
	<key>komisje-cy.sc</key>
	<dict>
		<key>el-cy.sc</key>
		<integer>-68</integer>
	</dict>
	<key>nine.sups</key>
	<dict>
		<key>solidus</key>
		<integer>-26</integer>
	</dict>
	<key>one.sups</key>
	<dict>
		<key>solidus</key>
		<integer>6</integer>
	</dict>
	<key>pe-cy.sc</key>
	<dict>
		<key>cheabkhasian-cy.sc</key>
		<integer>-34</integer>
		<key>phi.sc</key>
		<integer>-16</integer>
	</dict>
	<key>phi.sc</key>
	<dict>
		<key>de-cy.sc</key>
		<integer>-68</integer>
		<key>el-cy.sc</key>
		<integer>-68</integer>
		<key>zhe-cy.sc</key>
		<integer>-56</integer>
	</dict>
	<key>seven.sups</key>
	<dict>
		<key>eight.sups</key>
		<integer>-1</integer>
		<key>four.sups</key>
		<integer>-1</integer>
		<key>seven.sups</key>
		<integer>0</integer>
		<key>six.sups</key>
		<integer>-2</integer>
		<key>solidus</key>
		<integer>-45</integer>
	</dict>
	<key>six.sups</key>
	<dict>
		<key>solidus</key>
		<integer>-9</integer>
	</dict>
	<key>softsign-cy.sc</key>
	<dict>
		<key>de-cy.sc</key>
		<integer>11</integer>
		<key>el-cy.sc</key>
		<integer>-34</integer>
	</dict>
	<key>solidus</key>
	<dict>
		<key>eight.sinf</key>
		<integer>-9</integer>
		<key>five.sinf</key>
		<integer>16</integer>
		<key>one.sinf</key>
		<integer>16</integer>
		<key>seven.sinf</key>
		<integer>25</integer>
		<key>six.sinf</key>
		<integer>-26</integer>
		<key>three.sinf</key>
		<integer>13</integer>
		<key>two.sinf</key>
		<integer>-45</integer>
		<key>zero.sinf</key>
		<integer>-16</integer>
	</dict>
	<key>three.sups</key>
	<dict>
		<key>solidus</key>
		<integer>-16</integer>
	</dict>
	<key>tshe-cy.sc</key>
	<dict>
		<key>de-cy.sc</key>
		<integer>34</integer>
	</dict>
	<key>two.sups</key>
	<dict>
		<key>four.sups</key>
		<integer>0</integer>
	</dict>
	<key>zero.sups</key>
	<dict>
		<key>five.sups</key>
		<integer>0</integer>
		<key>four.sups</key>
		<integer>-8</integer>
		<key>solidus</key>
		<integer>-24</integer>
		<key>three.sups</key>
		<integer>-1</integer>
		<key>two.sups</key>
		<integer>-9</integer>
	</dict>
	<key>zhe-cy.sc</key>
	<dict>
		<key>cheabkhasian-cy.sc</key>
		<integer>-73</integer>
		<key>de-cy.sc</key>
		<integer>34</integer>
		<key>el-cy.sc</key>
		<integer>17</integer>
		<key>haabkhasian-cy.sc</key>
		<integer>16</integer>
		<key>hadescender-cy.sc</key>
		<integer>39</integer>
		<key>phi.sc</key>
		<integer>-56</integer>
		<key>zhe-cy.sc</key>
		<integer>56</integer>
	</dict>
</dict>
</plist>
