<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1966</integer>
	<key>capHeight</key>
	<integer>1486</integer>
	<key>descender</key>
	<integer>-546</integer>
	<key>familyName</key>
	<string>black-display</string>
	<key>styleName</key>
	<string>vv(110.0--61.0)-(105.0-100.0)-10.0-0.0-(0.0-0.0)</string>
	<key>unitsPerEm</key>
	<integer>2000</integer>
	<key>xHeight</key>
	<integer>1005</integer>
</dict>
</plist>
