<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.superpolator.editor.generateInfo</key>
	<string>Generated with LTR Superpolator version 100119_1225</string>
	<key>org.robofab.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>.null</string>
		<string>CR</string>
		<string>space</string>
		<string>numbersign</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>dotaccent</string>
		<string>j</string>
		<string>dotlessj</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>exclamdown</string>
		<string>exclam</string>
		<string>sterling</string>
		<string>currency</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>dieresis</string>
		<string>copyright</string>
		<string>guillemotleft</string>
		<string>guilsinglleft</string>
		<string>registered</string>
		<string>macron</string>
		<string>degree</string>
		<string>plusminus</string>
		<string>acute</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>cedilla</string>
		<string>guillemotright</string>
		<string>questiondown</string>
		<string>Eth</string>
		<string>multiply</string>
		<string>Thorn</string>
		<string>germandbls</string>
		<string>eth</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>endash</string>
		<string>emdash</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotedblbase</string>
		<string>dagger</string>
		<string>bullet</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>mu</string>
		<string>logicalnot</string>
		<string>yen</string>
		<string>divide</string>
		<string>Ccedilla</string>
		<string>AE</string>
		<string>cent</string>
		<string>ae</string>
		<string>Lslash</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>ogonek</string>
		<string>Eogonek</string>
		<string>fraction</string>
		<string>dollar</string>
		<string>grave.cap</string>
		<string>dieresis.cap</string>
		<string>commaaccent</string>
		<string>acute.cap</string>
		<string>circumflex.cap</string>
		<string>caron.cap</string>
		<string>breve.cap</string>
		<string>dotaccent.cap</string>
		<string>ring.cap</string>
		<string>tilde.cap</string>
		<string>hungarumlaut.cap</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>percent</string>
		<string>Oslash</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aogonek</string>
		<string>cacute</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>eogonek</string>
		<string>ij</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>lslash</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>ohungarumlaut</string>
		<string>sacute</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>uhungarumlaut</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>Aogonek</string>
		<string>Cacute</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Lcaron</string>
		<string>caronvertical</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Sacute</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Yacute</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>lcaron</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>nbspace</string>
		<string>oe</string>
		<string>daggerdbl</string>
		<string>Euro</string>
		<string>infinity</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>partialdiff</string>
		<string>summation</string>
		<string>product</string>
		<string>pi</string>
		<string>integral</string>
		<string>Omega</string>
		<string>radical</string>
		<string>approxequal</string>
		<string>Delta</string>
		<string>v</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>florin</string>
		<string>kgreenlandic</string>
		<string>itilde</string>
		<string>scedilla</string>
		<string>f_f</string>
		<string>f_i</string>
		<string>f_l</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>trademark</string>
		<string>estimated</string>
		<string>afii61352</string>
		<string>notequal</string>
		<string>minute</string>
		<string>second</string>
		<string>quotereversed</string>
		<string>exclamdbl</string>
		<string>OE</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aeacute</string>
		<string>uni1E03</string>
		<string>ccircumflex</string>
		<string>ccaron</string>
		<string>cdotaccent</string>
		<string>uni1E0B</string>
		<string>dcaron</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
		<string>kcommaaccent</string>
		<string>lcommaaccent</string>
		<string>uni1E41</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>scaron</string>
		<string>uni1E61</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>ubreve</string>
		<string>wdieresis</string>
		<string>wcircumflex</string>
		<string>ygrave</string>
		<string>ycircumflex</string>
		<string>zcaron</string>
		<string>uni1E02</string>
		<string>Ccircumflex</string>
		<string>Ccaron</string>
		<string>Dcaron</string>
		<string>Ecaron</string>
		<string>Emacron</string>
		<string>macron.cap</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>uni1E1E</string>
		<string>Gcommaaccent</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Hcircumflex</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Idotaccent</string>
		<string>IJ</string>
		<string>Jcircumflex</string>
		<string>Kcommaaccent</string>
		<string>Lcommaaccent</string>
		<string>Lacute</string>
		<string>uni1E40</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>uni1E56</string>
		<string>Rcommaaccent</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Scircumflex</string>
		<string>Scaron</string>
		<string>uni1E60</string>
		<string>Tcaron</string>
		<string>uni1E6A</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uhungarumlaut</string>
		<string>Uring</string>
		<string>Wacute</string>
		<string>Wgrave</string>
		<string>Wdieresis</string>
		<string>Wcircumflex</string>
		<string>Ygrave</string>
		<string>Ydieresis</string>
		<string>Ycircumflex</string>
		<string>Zcaron</string>
		<string>scircumflex</string>
		<string>uni1E6B</string>
		<string>tcaron</string>
		<string>wacute</string>
		<string>wgrave</string>
		<string>Cdotaccent</string>
		<string>uni1E0A</string>
		<string>ecaron</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>uni1E1F</string>
		<string>hcircumflex</string>
		<string>imacron</string>
		<string>ibreve</string>
		<string>jcircumflex</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>rcommaaccent</string>
		<string>LF</string>
		<string>HT</string>
		<string>DLE</string>
		<string>DC1</string>
		<string>DC2</string>
		<string>DC3</string>
		<string>DC4</string>
		<string>RS</string>
		<string>US</string>
		<string>DEL</string>
		<string>lozenge</string>
		<string>uni03BC</string>
		<string>i.cy</string>
		<string>Scedilla</string>
		<string>uni0218</string>
		<string>uni0219</string>
		<string>uni0162</string>
		<string>uni0163</string>
		<string>uni021A</string>
		<string>uni021B</string>
		<string>lacute</string>
		<string>iogonek</string>
		<string>uogonek</string>
		<string>Dcroat</string>
		<string>Iogonek</string>
		<string>Uogonek</string>
		<string>Hbar</string>
		<string>Ldot</string>
		<string>ldot</string>
		<string>Tbar</string>
		<string>tbar</string>
		<string>uni1E57</string>
		<string>dcroat</string>
		<string>hbar</string>
		<string>eng</string>
		<string>Eng</string>
		<string>aring</string>
		<string>uring</string>
		<string>Aring</string>
		<string>Aacute</string>
		<string>Agrave</string>
		<string>Adieresis</string>
		<string>Atilde</string>
		<string>Acircumflex</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>AEacute</string>
		<string>uni2113</string>
		<string>i.dot</string>
		<string>i.uc</string>
		<string>hyphen</string>
		<string>minus</string>
		<string>Deltagreek</string>
		<string>Omegagreek</string>
		<string>uni2120</string>
		<string>colonmonetary</string>
		<string>lira</string>
		<string>uni20A6</string>
		<string>peseta</string>
		<string>dong</string>
		<string>uni20B1</string>
		<string>uni20B2</string>
		<string>uni20B5</string>
		<string>uni20B9</string>
		<string>uni20BA</string>
		<string>uni1E9E</string>
		<string>arrowleft</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>f_i_trk</string>
		<string>f_f_i_dflt</string>
		<string>napostrophe</string>
		<string>afii10017</string>
		<string>afii10019</string>
		<string>afii10022</string>
		<string>afii10030</string>
		<string>afii10031</string>
		<string>afii10032</string>
		<string>afii10034</string>
		<string>afii10035</string>
		<string>afii10036</string>
		<string>afii10039</string>
		<string>afii10065</string>
		<string>afii10070</string>
		<string>afii10080</string>
		<string>afii10082</string>
		<string>afii10083</string>
		<string>uni04D2</string>
		<string>uni0400</string>
		<string>afii10023</string>
		<string>afii10054</string>
		<string>uni04A2</string>
		<string>uni04C9</string>
		<string>uni04A4</string>
		<string>uni050A</string>
		<string>uni04C7</string>
		<string>afii10059</string>
		<string>uni04CD</string>
		<string>uni0407</string>
		<string>afii10055</string>
		<string>afii10057</string>
		<string>uni04E6</string>
		<string>uni04E8</string>
		<string>afii10147</string>
		<string>uni04EA</string>
		<string>uni048E</string>
		<string>uni04AA</string>
		<string>uni04AC</string>
		<string>uni04AE</string>
		<string>uni04B0</string>
		<string>uni04B2</string>
		<string>uni050C</string>
		<string>uni04C0</string>
		<string>uni04D3</string>
		<string>uni0450</string>
		<string>afii10071</string>
		<string>afii10018</string>
		<string>afii10020</string>
		<string>afii10021</string>
		<string>afii10024</string>
		<string>afii10025</string>
		<string>afii10026</string>
		<string>afii10027</string>
		<string>breve.rcap</string>
		<string>afii10028</string>
		<string>afii10029</string>
		<string>uni04D0</string>
		<string>breve.r</string>
		<string>uni04D5</string>
		<string>uni04D1</string>
		<string>uni04D7</string>
		<string>uni04BD</string>
		<string>uni04BF</string>
		<string>afii10846</string>
		<string>uni04DB</string>
		<string>afii10081</string>
		<string>uni04D4</string>
		<string>afii10084</string>
		<string>afii10085</string>
		<string>afii10087</string>
		<string>uni0501</string>
		<string>afii10102</string>
		<string>afii10068</string>
		<string>afii10069</string>
		<string>afii10066</string>
		<string>afii10067</string>
		<string>afii10037</string>
		<string>afii10038</string>
		<string>afii10046</string>
		<string>afii10049</string>
		<string>afii10086</string>
		<string>uni04E0</string>
		<string>uni040D</string>
		<string>uni04E4</string>
		<string>uni04E2</string>
		<string>uni048A</string>
		<string>uni04F0</string>
		<string>uni04EE</string>
		<string>afii10062</string>
		<string>uni04F2</string>
		<string>afii10145</string>
		<string>uni04A8</string>
		<string>afii10072</string>
		<string>afii10073</string>
		<string>afii10074</string>
		<string>afii10075</string>
		<string>afii10076</string>
		<string>afii10077</string>
		<string>afii10078</string>
		<string>afii10079</string>
		<string>afii10094</string>
		<string>afii10095</string>
		<string>afii10096</string>
		<string>afii10097</string>
		<string>uni048C</string>
		<string>uni04B4</string>
		<string>afii10146</string>
		<string>uni04F7</string>
		<string>afii10100</string>
		<string>uni0493</string>
		<string>uni0495</string>
		<string>afii10098</string>
		<string>afii10099</string>
		<string>uni04DD</string>
		<string>uni04C2</string>
		<string>uni0497</string>
		<string>uni04DF</string>
		<string>uni0499</string>
		<string>uni04E1</string>
		<string>uni045D</string>
		<string>uni04E5</string>
		<string>uni04E3</string>
		<string>uni048B</string>
		<string>uni04A3</string>
		<string>uni04CA</string>
		<string>uni04A5</string>
		<string>uni050B</string>
		<string>uni04C8</string>
		<string>afii10107</string>
		<string>afii10103</string>
		<string>afii10104</string>
		<string>afii10105</string>
		<string>uni04E7</string>
		<string>uni04A7</string>
		<string>uni048F</string>
		<string>uni04AB</string>
		<string>afii10108</string>
		<string>uni04AD</string>
		<string>uni049B</string>
		<string>uni049D</string>
		<string>uni049F</string>
		<string>afii10109</string>
		<string>uni04C4</string>
		<string>uni04A1</string>
		<string>uni04E9</string>
		<string>afii10195</string>
		<string>uni04EB</string>
		<string>uni04C6</string>
		<string>afii10106</string>
		<string>uni0509</string>
		<string>uni050F</string>
		<string>uni04F1</string>
		<string>uni04EF</string>
		<string>afii10110</string>
		<string>uni04F3</string>
		<string>afii10193</string>
		<string>uni04AF</string>
		<string>uni04B1</string>
		<string>uni04B3</string>
		<string>uni04BB</string>
		<string>uni04F5</string>
		<string>afii10089</string>
		<string>uni04B7</string>
		<string>uni04CC</string>
		<string>uni04B9</string>
		<string>uni04F9</string>
		<string>uni0507</string>
		<string>uni050D</string>
		<string>uni04A9</string>
		<string>uni048D</string>
		<string>uni04B5</string>
		<string>afii10194</string>
		<string>uni04ED</string>
		<string>afii10196</string>
		<string>uni04CF</string>
		<string>uni04BA</string>
		<string>afii10041</string>
		<string>uni04F4</string>
		<string>uni04B6</string>
		<string>uni04CB</string>
		<string>uni04B8</string>
		<string>uni04F8</string>
		<string>uni0506</string>
		<string>afii10033</string>
		<string>afii10040</string>
		<string>afii10042</string>
		<string>afii10043</string>
		<string>afii10044</string>
		<string>afii10045</string>
		<string>afii10047</string>
		<string>afii10048</string>
		<string>afii10088</string>
		<string>afii10090</string>
		<string>afii10091</string>
		<string>afii10092</string>
		<string>afii10093</string>
		<string>uni04D6</string>
		<string>afii10053</string>
		<string>uni04D8</string>
		<string>uni04DA</string>
		<string>uni04BC</string>
		<string>uni04BE</string>
		<string>afii10052</string>
		<string>uni0492</string>
		<string>uni0494</string>
		<string>afii10050</string>
		<string>uni0500</string>
		<string>afii10051</string>
		<string>uni04F6</string>
		<string>uni04DC</string>
		<string>uni04C1</string>
		<string>uni0496</string>
		<string>uni04DE</string>
		<string>uni0498</string>
		<string>uni04A6</string>
		<string>afii10060</string>
		<string>uni049A</string>
		<string>uni049C</string>
		<string>uni049E</string>
		<string>afii10061</string>
		<string>uni04C3</string>
		<string>uni04A0</string>
		<string>uni04C5</string>
		<string>afii10058</string>
		<string>uni0508</string>
		<string>uni050E</string>
		<string>uni04EC</string>
		<string>afii10148</string>
		<string>afii10101</string>
		<string>uni04CE</string>
		<string>nonmarkingreturn</string>
		<string>zerowidthnonjoiner</string>
		<string>zerowidthjoiner</string>
		<string>zerowidthspace</string>
		<string>enspace</string>
		<string>thinspace</string>
		<string>uniF000</string>
		<string>uniEFFD</string>
		<string>uniE0FF</string>
		<string>afii61248</string>
		<string>zero.slash</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>one.superior</string>
		<string>two.superior</string>
		<string>three.superior</string>
		<string>four.superior</string>
		<string>onethird</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>uni02C9</string>
		<string>uni00AD</string>
		<string>uni2219</string>
		<string>won</string>
		<string>franc</string>
		<string>uni2215</string>
		<string>uni01F3</string>
		<string>uni01C9</string>
		<string>uni01CC</string>
		<string>uni01F1</string>
		<string>uni01C7</string>
		<string>uni01CA</string>
		<string>uni01F2</string>
		<string>uni01C8</string>
		<string>uni01CB</string>
		<string>uni018F</string>
		<string>uni0259</string>
		<string>uni01C4</string>
		<string>uni01C5</string>
		<string>uni01C6</string>
	</array>
</dict>
</plist>
