<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>De-cy.loclBGR</key>
    <string>D_e-cy.loclB_G_R_.glif</string>
    <key>Ef-cy.loclBGR</key>
    <string>E_f-cy.loclB_G_R_.glif</string>
    <key>El-cy.loclBGR</key>
    <string>E_l-cy.loclB_G_R_.glif</string>
    <key>Eldescender-cy</key>
    <string>E_ldescender-cy.glif</string>
    <key>Elhook-cy</key>
    <string>E_lhook-cy.glif</string>
    <key>EnLeftHook-cy</key>
    <string>E_nL_eftH_ook-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Enhook-cy</key>
    <string>E_nhook-cy.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Ereversed-cy</key>
    <string>E_reversed-cy.glif</string>
    <key>Esdescender-cy</key>
    <string>E_sdescender-cy.glif</string>
    <key>Esdescender-cy.loclBSH</key>
    <string>E_sdescender-cy.loclB_S_H_.glif</string>
    <key>Gstroke</key>
    <string>G_stroke.glif</string>
    <key>Hastroke-cy</key>
    <string>H_astroke-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Pe-cy</key>
    <string>P_e-cy.glif</string>
    <key>Pedescender-cy</key>
    <string>P_edescender-cy.glif</string>
    <key>Schwa-cy</key>
    <string>S_chwa-cy.glif</string>
    <key>Shhadescender-cy</key>
    <string>S_hhadescender-cy.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>be-cy.loclSRB</key>
    <string>be-cy.loclS_R_B_.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevecomb_acutecomb.case</key>
    <string>brevecomb_acutecomb.case.glif</string>
    <key>brevecomb_hookabovecomb</key>
    <string>brevecomb_hookabovecomb.glif</string>
    <key>brevecomb_tildecomb.case</key>
    <string>brevecomb_tildecomb.case.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>che-cy.loclBGR</key>
    <string>che-cy.loclB_G_R_.glif</string>
    <key>cheabkhasian-cy.sc</key>
    <string>cheabkhasian-cy.sc.glif</string>
    <key>chekhakassian-cy</key>
    <string>chekhakassian-cy.glif</string>
    <key>circumflexcomb_acutecomb</key>
    <string>circumflexcomb_acutecomb.glif</string>
    <key>circumflexcomb_acutecomb.case</key>
    <string>circumflexcomb_acutecomb.case.glif</string>
    <key>circumflexcomb_gravecomb</key>
    <string>circumflexcomb_gravecomb.glif</string>
    <key>circumflexcomb_gravecomb.case</key>
    <string>circumflexcomb_gravecomb.case.glif</string>
    <key>d.sc</key>
    <string>d.sc.glif</string>
    <key>de-cy.loclBGR.sc</key>
    <string>de-cy.loclB_G_R_.sc.glif</string>
    <key>ef-cy.loclBGR.sc</key>
    <string>ef-cy.loclB_G_R_.sc.glif</string>
    <key>el-cy.loclBGR</key>
    <string>el-cy.loclB_G_R_.glif</string>
    <key>el-cy.loclBGR.sc</key>
    <string>el-cy.loclB_G_R_.sc.glif</string>
    <key>eldescender-cy.sc</key>
    <string>eldescender-cy.sc.glif</string>
    <key>elhook-cy.sc</key>
    <string>elhook-cy.sc.glif</string>
    <key>emtail-cy</key>
    <string>emtail-cy.glif</string>
    <key>en-cy.loclBGR</key>
    <string>en-cy.loclB_G_R_.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>enlefthook-cy</key>
    <string>enlefthook-cy.glif</string>
    <key>enlefthook-cy.sc</key>
    <string>enlefthook-cy.sc.glif</string>
    <key>ertick-cy</key>
    <string>ertick-cy.glif</string>
    <key>esdescender-cy</key>
    <string>esdescender-cy.glif</string>
    <key>esdescender-cy.loclBSH</key>
    <string>esdescender-cy.loclB_S_H_.glif</string>
    <key>esdescender-cy.loclBSH.sc</key>
    <string>esdescender-cy.loclB_S_H_.sc.glif</string>
    <key>esdescender-cy.sc</key>
    <string>esdescender-cy.sc.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>fita-cy.sc</key>
    <string>fita-cy.sc.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>gedescender-cy</key>
    <string>gedescender-cy.glif</string>
    <key>gestrokehook-cy</key>
    <string>gestrokehook-cy.glif</string>
    <key>ghestroke-cy.loclBSH</key>
    <string>ghestroke-cy.loclB_S_H_.glif</string>
    <key>gheupturn-cy.sc</key>
    <string>gheupturn-cy.sc.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hastroke-cy</key>
    <string>hastroke-cy.glif</string>
    <key>hastroke-cy.sc</key>
    <string>hastroke-cy.sc.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>i.sc</key>
    <string>i.sc.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>iu-cy</key>
    <string>iu-cy.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>lslash.sc</key>
    <string>lslash.sc.glif</string>
    <key>nine.numr</key>
    <string>nine.numr.glif</string>
    <key>obarred-cy</key>
    <string>obarred-cy.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>pedescender-cy</key>
    <string>pedescender-cy.glif</string>
    <key>pedescender-cy.sc</key>
    <string>pedescender-cy.sc.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>questiondown.case</key>
    <string>questiondown.case.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>reversedze-cy</key>
    <string>reversedze-cy.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>schwa-cy.sc</key>
    <string>schwa-cy.sc.glif</string>
    <key>shhadescender-cy</key>
    <string>shhadescender-cy.glif</string>
    <key>shhadescender-cy.sc</key>
    <string>shhadescender-cy.sc.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.lf</key>
    <string>six.lf.glif</string>
    <key>six.sc</key>
    <string>six.sc.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>tse-cy.loclBGR</key>
    <string>tse-cy.loclB_G_R_.glif</string>
    <key>tugrik</key>
    <string>tugrik.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uhorn.sc</key>
    <string>uhorn.sc.glif</string>
    <key>ve-cy.loclBGR</key>
    <string>ve-cy.loclB_G_R_.glif</string>
    <key>ze-cy.loclBGR</key>
    <string>ze-cy.loclB_G_R_.glif</string>
    <key>zedescender-cy.loclBSH</key>
    <string>zedescender-cy.loclB_S_H_.glif</string>
    <key>zero.lf</key>
    <string>zero.lf.glif</string>
    <key>zero.tf.zero</key>
    <string>zero.tf.zero.glif</string>
  </dict>
</plist>
