<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ef-cy</key>
    <string>E_f-cy.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Ii-cy.loclBGR</key>
    <string>I_i-cy.loclB_G_R_.glif</string>
    <key>Komilje-cy</key>
    <string>K_omilje-cy.glif</string>
    <key>Kominje-cy</key>
    <string>K_ominje-cy.glif</string>
    <key>Komizje-cy</key>
    <string>K_omizje-cy.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand.sc</key>
    <string>ampersand.sc.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>elhook-cy.sc</key>
    <string>elhook-cy.sc.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>fita_part.</key>
    <string>fita_part..glif</string>
    <key>four.tosf</key>
    <string>four.tosf.glif</string>
    <key>germandbls.sc</key>
    <string>germandbls.sc.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>sheqel</key>
    <string>sheqel.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>three.tosf</key>
    <string>three.tosf.glif</string>
    <key>two.tosf</key>
    <string>two.tosf.glif</string>
    <key>zero.osf</key>
    <string>zero.osf.glif</string>
  </dict>
</plist>
