<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Komilje-cy</key>
    <string>K_omilje-cy.glif</string>
    <key>Kominje-cy</key>
    <string>K_ominje-cy.glif</string>
    <key>Komizje-cy</key>
    <string>K_omizje-cy.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand.sc</key>
    <string>ampersand.sc.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>eight.tosf</key>
    <string>eight.tosf.glif</string>
    <key>elhook-cy.sc</key>
    <string>elhook-cy.sc.glif</string>
    <key>fita_part.</key>
    <string>fita_part..glif</string>
    <key>five.tosf</key>
    <string>five.tosf.glif</string>
    <key>four.tosf</key>
    <string>four.tosf.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>ia-cy</key>
    <string>ia-cy.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>nine.tosf</key>
    <string>nine.tosf.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>one.tosf</key>
    <string>one.tosf.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>sheqel</key>
    <string>sheqel.glif</string>
    <key>six.tosf</key>
    <string>six.tosf.glif</string>
    <key>three.tosf</key>
    <string>three.tosf.glif</string>
    <key>two.tosf</key>
    <string>two.tosf.glif</string>
    <key>zero.zero</key>
    <string>zero.zero.glif</string>
  </dict>
</plist>
