<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1966</integer>
    <key>capHeight</key>
    <integer>1486</integer>
    <key>copyright</key>
    <string>Copyright 2016 The Merriweather Project Authors (https://github.com/EbenSorkin/Merriweather) with Reserved Font Name "Merriweather".</string>
    <key>descender</key>
    <integer>-546</integer>
    <key>familyName</key>
    <string>Merriweather</string>
    <key>italicAngle</key>
    <real>-7.8</real>
    <key>openTypeHeadCreated</key>
    <string>2020/05/02 15:27:31</string>
    <key>openTypeHheaAscender</key>
    <integer>1968</integer>
    <key>openTypeHheaDescender</key>
    <integer>-546</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Eben Sorkin</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://sorkintype.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Eben Sorkin</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://sorkintype.com</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Merriweather</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>SemiCnd Italic</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>596</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>90</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1968</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-546</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>STC</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>4</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>2456</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>604</integer>
    <key>postscriptBlueValues</key>
    <array>
      <real>-30.41304347826087</real>
      <integer>0</integer>
      <integer>1110</integer>
      <real>1143.2608695652175</real>
      <integer>1292</integer>
      <integer>1322</integer>
      <integer>1486</integer>
      <integer>1506</integer>
      <integer>1540</integer>
      <integer>1588</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>107.8804347826087</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>208.1086956521739</real>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-244</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>90</integer>
    <key>styleMapFamilyName</key>
    <string>Merriweather SemiCnd</string>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>styleName</key>
    <string>SemiCnd Italic</string>
    <key>trademark</key>
    <string>Merriweather is a trademark of Sorkin Type Co.</string>
    <key>unitsPerEm</key>
    <real>2000.0</real>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>9</integer>
    <key>xHeight</key>
    <integer>1110</integer>
  </dict>
</plist>
