<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1966</integer>
	<key>capHeight</key>
	<integer>1486</integer>
	<key>copyright</key>
	<string>Copyright 2016 The Merriweather Project Authors (https://github.com/EbenSorkin/Merriweather) with Reserved Font Name "Merriweather".</string>
	<key>descender</key>
	<integer>-546</integer>
	<key>familyName</key>
	<string>Merriweather31</string>
	<key>italicAngle</key>
	<real>-7.8</real>
	<key>openTypeHeadCreated</key>
	<string>2019/05/28 18:39:42</string>
	<key>openTypeHheaAscender</key>
	<integer>1968</integer>
	<key>openTypeHheaDescender</key>
	<integer>-546</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Eben Sorkin</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://sorkintype.com</string>
	<key>openTypeNameManufacturer</key>
	<string>Eben Sorkin</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://sorkintype.com</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Merriweather31</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Black Italic</string>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1968</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-546</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>STC</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>2456</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>604</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-508</integer>
		<integer>-448</integer>
		<integer>-40</integer>
		<integer>0</integer>
		<integer>1110</integer>
		<integer>1146</integer>
		<integer>1292</integer>
		<integer>1322</integer>
		<integer>1486</integer>
		<integer>1506</integer>
		<integer>1540</integer>
		<integer>1588</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-26</integer>
		<integer>0</integer>
		<integer>1110</integer>
		<integer>1142</integer>
		<integer>1292</integer>
		<integer>1324</integer>
		<integer>1486</integer>
		<integer>1506</integer>
		<integer>1540</integer>
		<integer>1588</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Merriweather31-BlackItalic</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>108</integer>
		<integer>116</integer>
		<integer>130</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>306</integer>
	</array>
	<key>postscriptStrikeoutPosition</key>
	<integer>596</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>-244</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>110</integer>
	<key>styleMapFamilyName</key>
	<string>Merriweather31 Black Italic</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Black Italic</string>
	<key>trademark</key>
	<string>Merriweather is a trademark of Sorkin Type Co.</string>
	<key>unitsPerEm</key>
	<integer>2000</integer>
	<key>versionMajor</key>
	<integer>2</integer>
	<key>versionMinor</key>
	<integer>6</integer>
	<key>xHeight</key>
	<integer>1110</integer>
</dict>
</plist>
